<div class="background-image-wrapper">
	<img src="{{ layout.image.url }}" alt="{{ layout.image.alt }}" class="bg-arrow bg-arrow-one" />
	<img src="{{ layout.image.url }}" alt="{{ layout.image.alt }}" class="bg-arrow bg-arrow-two" />
</div>
