/*! CSS Used from: https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}

a:hover {
    color: #0a58ca;
}

img {
    vertical-align: middle;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

[type=button],
button {
    -webkit-appearance: button;
}

[type=button]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container,
.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.collapse:not(.show) {
    display: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .nav-link {
        transition: none;
    }
}

.nav-link:focus,
.nav-link:hover {
    color: #0a58ca;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .navbar-toggler {
        transition: none;
    }
}

.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media (min-width:992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .55);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .7);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.position-relative {
    position: relative !important;
}

.w-100 {
    width: 100% !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.p-0 {
    padding: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pb-1 {
    padding-bottom: .25rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

@media (min-width:768px) {
    .mt-md-4 {
        margin-top: 1.5rem !important;
    }
}

@media (min-width:992px) {
    .d-lg-none {
        display: none !important;
    }
}

/*! CSS Used from: https://epzh9qjkr840.exactdn.com/wp-includes/css/dist/block-library/style.min.css?ver=6.2.2 ; media=all */
@media all {
    ul {
        box-sizing: border-box;
    }
}

/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css?ver=6.2.2 ; media=all */
@media all {
    .fa-solid {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }

    .fa-solid {
        font-family: "Font Awesome 6 Free";
    }

    .fa-angle-left:before {
        content: "\f104";
    }

    .fa-solid {
        font-weight: 900;
    }
}

/*! CSS Used from: https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/css/site.css?m=1689913690 ; media=screen */
@media screen {
    .fc-orange {
        color: #e85948;
    }

    .fc-orange {
        color: #e85948;
    }

    p {
        font-family: "Greycliff Medium", "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #49494b;
    }

    a {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none !important;
        color: #613f97 !important;
    }

    .main-btn {
        border: #e85948;
        background-color: #e85948 !important;
        min-width: 151px;
        padding-bottom: 16px !important;
        padding-top: 14px !important;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 4px !important;
        justify-self: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        display: inline-block;
        font-family: "Greycliff", "Open Sans", sans-serif !important;
        font-size: 14px !important;
        line-height: 1 !important;
        text-align: center !important;
        color: #ffffff !important;
        text-decoration: none !important;
        white-space: nowrap !important;
        transition: all 1s;
    }

    .main-btn:hover {
        background-color: #613f97 !important;
        color: white !important;
        transition: all 1s;
    }

    .fc-orange {
        color: #e85948;
    }

    .mobile-nav .subnav-1-image {
        width: 100%;
        height: auto;
        max-width: 325px;
    }

    #main-navbar {
        background-color: #fff;
        padding-top: 13px;
        padding-bottom: 13px;
        box-shadow: rgba(0, 0, 0, .15) 0 0 16px 0;
    }

    #main-navbar .nav-container {
        max-width: 1140px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #main-navbar .nav-container a {
        font-family: "Greycliff", "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 13px;
        text-align: left;
        margin-right: 15px;
        line-height: 1;
    }

    #main-navbar .nav-container .nav-item {
        display: flex;
        align-items: center;
    }

    #main-navbar .nav-container .nav-item a {
        color: #49494b;
        white-space: nowrap;
    }

    #main-navbar .nav-container .nav-logo {
        height: 30.89px;
        margin-top: 4px;
    }

    #main-navbar .nav-container .float-right {
        justify-content: right;
    }

    @media screen and (max-width:991px) {
        #main-navbar {
            padding: 13px 0;
        }
    }

    .nav-item a:hover {
        color: #613f97 !important;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .nav-row-wrapper {
        justify-content: space-between;
    }

    .nav-link {
        color: #49494b !important;
        display: flex !important;
        padding-top: 23px !important;
        padding-bottom: 23px !important;
    }

    #main-navbar .nav-container .nav-item.menu-expand {
        display: flex;
        position: relative;
    }

    #main-navbar .nav-container .nav-item .fa-angle-left {
        position: relative;
        top: 1px;
        right: 7px;
    }

    #main-navbar .nav-container .nav-item.hidden {
        display: none;
    }

    #cta-btn-nav.white-hover:hover {
        color: white !important;
    }

    .nav-arrow {
        margin-left: 8px;
    }

    .sub-nav-wrapper {
        display: none;
        background-color: #f8f8f8;
        position: absolute;
        top: 84px;
        right: 0;
        left: 0;
    }

    @media screen and (min-width:992px) {
        .sub-nav-wrapper {
            display: block;
        }
    }

    .subnav-title {
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 20px;
    }

    .dropdown-content {
        display: none;
    }

    .subnav-li {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .sub-nav-wrapper ul {
        list-style-type: none;
        padding-left: 0 !important;
    }

    .subnav-link-a:hover * {
        color: #613f97;
    }

    .subnav-link-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 3px;
        color: #49494b;
        display: block;
    }

    .subnav-link-subtitle,
    .subnav-link-subtitle:hover {
        color: #49494b !important;
    }

    .subnav-link-title-heading {
        font-size: 18px;
    }

    .subnav-link-subtitle {
        font-size: 12px;
        font-weight: 200;
    }

    .subnav-link-title.bold-smaller {
        font-family: "Greycliff Bold", "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
    }

    .link-icon-subnav {
        display: flex;
        width: 25px;
        margin-right: 40px;
        align-items: center;
        pointer-events: none !important;
    }

    .link-icon-subnav img {
        max-height: 18px;
        max-width: 22px;
        margin: 0 auto;
    }

    .subnav-3-right-wrapper {
        display: grid;
        grid-template-columns: 50px 260px auto;
    }

    .subnav-3-right-wrapper-mobile {
        display: grid;
        grid-template-columns: 45% 55%;
    }

    .line-divider {
        height: 265px;
        width: 2px;
        border-left: 1px solid rgba(73, 73, 75, .2);
    }

    .featured-post-image {
        width: 100%;
        max-width: 260px;
        height: auto;
        border-radius: 6px;
    }

    .featured-post-text-area {
        margin-left: 16px;
    }

    .featured-post-text-area::after,
    .featured-post-text-area-mobile::after {
        content: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/images/arrow-right-orange.svg);
    }

    .featured-post-text-area:hover::after,
    .featured-post-text-area-mobile:hover::after {
        content: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/images/arrow-right-purple.svg);
    }

    .featured-post-text-area-mobile {
        padding-left: 10px;
        padding-right: 15px;
    }

    .featured-post-category {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 2px;
    }

    .featured-post-title {
        color: #e85948;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 13px;
        line-height: 1.2;
        display: block;
    }

    .featured-post-title:hover {
        color: #613f97 !important;
    }

    .featured-post-title-mobile {
        line-height: 22px;
        margin-bottom: 5px;
    }

    .featured-post-paragraph {
        color: #49494b !important;
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        max-width: 275px;
        margin-bottom: 12px;
    }

    .featured-post-paragraph:hover {
        color: #49494b !important;
    }

    .featured-post-paragraph-mobile {
        margin-bottom: 6px;
    }

    .sub-nav-container-775 {
        max-width: 775px !important;
    }

    .sub-nav-container-960 {
        max-width: 960px !important;
    }

    .sub-nav-container-1075 {
        max-width: 1075px !important;
    }

    .sub-nav-row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 50px;
    }

    .sub-nav-row-3 {
        display: grid;
        grid-template-columns: 1fr 45px 1fr 1fr;
        grid-template-rows: auto;
    }

    .mt-25px {
        margin-top: 25px;
    }

    .cta-btn {
        margin-right: 0 !important;
    }

    .learn-more-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }

    .learn-more-wrapper a {
        color: #e85948;
    }

    .learn-more-wrapper a:hover {
        color: #613f97;
    }

    .learn-more-link {
        font-size: 13px;
        margin-right: 15px;
    }

    .learn-more-link::after {
        content: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/images/arrow-right-orange.svg);
        position: relative;
        left: 18px;
        top: 1px;
    }

    .subnav-li::after {
        content: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/images/arrow-right-orange.svg);
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
    }

    .subnav-li:hover::after {
        content: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/images/arrow-right-purple.svg);
    }

    .learn-more-link:hover:after {
        content: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/images/arrow-right-purple.svg);
        position: relative;
        left: 18px;
        top: 1px;
    }

    .subnav-paragraph {
        font-family: "Greycliff";
        font-size: 10px;
        font-weight: 300;
        line-height: 16px;
        padding-right: 65px;
        margin-top: 8px;
        margin-bottom: 10px;
        max-width: 350px;
    }

    .horizontal-line {
        max-width: 100%;
        border-top: 1px solid rgba(73, 73, 75, .2);
        margin-bottom: 20px;
        margin-right: 32px;
    }

    .mobile-nav {
        align-items: flex-start !important;
        padding-left: 32px;
        padding-right: 10px;
        padding-top: 15px !important;
        margin-top: 66px;
        background-color: #f8f8f8;
    }

    .mobile-nav-wrapper-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .navbar-toggler {
        background-color: #f8f8f8;
        border-color: transparent !important;
        margin-right: 10px;
    }

    @media (max-width:374px) {
        .nav-logo {
            max-width: 95px;
        }
    }

    @media (min-width:375px) and (max-width:576px) {
        .nav-logo {
            max-width: 140px;
        }
    }

    @media (max-width:576px) {
        .mobile-cta {
            font-size: 12px !important;
            line-height: 1 !important;
            min-width: unset;
            padding: 11px 12px 14px 12px !important;
        }
    }

    @media (min-width:992px) {
        .mobile-cta {
            display: none;
        }
    }

    .mobile-nav-link {
        max-width: 155px;
    }

    .mobile-nav-link-arrow {
        margin-left: auto;
    }

    .mobile-btn-close-back {
        background: none !important;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .mobile-subnav-ul {
        padding-left: 0 !important;
        max-width: 350px;
    }

    .mobile-subnav-ul .subnav-li {
        margin-bottom: 28px;
    }

    @media all and (max-width:991px) {
        .mobile-offcanvas {
            visibility: hidden;
            transform: translateX(-100%);
            border-radius: 0;
            display: block;
            position: fixed !important;
            top: 0;
            left: 0;
            height: calc(100% - 65px);
            z-index: 1200;
            width: 80%;
            overflow-y: scroll;
            overflow-x: hidden;
            transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        .subnav-link-title {
            font-size: 13px;
        }

        .subnav-link-title-heading {
            font-size: 18px;
        }

        .subnav-link-subtitle {
            font-size: 11px;
        }

        .subnav-link-title.bold-smaller {
            font-size: 13px;
        }
    }

    .max-width-350 {
        max-width: 350px;
    }

    .fc-orange {
        color: #e85948;
    }

    .mr-auto {
        margin-right: auto !important;
    }
}

/*! CSS Used from: Embedded */
#main-navbar {
    margin-top: 32px !important;
}

@media screen and (max-width: 782px) {
    #main-navbar {
        margin-top: 46px !important;
    }
}

/*! CSS Used from: Embedded */
.lazyload {
    background-image: none !important;
}

.lazyload:before {
    background-image: none !important;
}

/*! CSS Used fontfaces */
@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-regular-400.woff2) format("woff2"), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-regular-400.ttf) format("truetype");
}

@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-solid-900.woff2) format("woff2"), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-solid-900.ttf) format("truetype");
}

@font-face {
    font-family: "Greycliff Medium";
    src: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/fonts/GreycliffCF-Medium.otf);
    font-weight: medium;
}

@font-face {
    font-family: "Greycliff";
    src: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/fonts/GreycliffCF-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Greycliff Bold";
    src: url(https://epzh9qjkr840.exactdn.com/wp-content/themes/starter-theme-1.x/assets/fonts/GreycliffCF-Bold.otf);
    font-weight: 700;
}