{% extends 'base.twig' %}

{% block content %}
	<div class="mt-5 py-5"></div>
	<div class="container container-1088 pt-4">
		<h1>
			404
		</h1>
		<h2>
			Sorry, we couldn't find what you're looking for.
		</h2>
	</div>
	<div class="mt-5 py-5"></div>
{% endblock %}
