<section id="cta-form">
	<div class="py-5"></div>
	<div class="cta-form-wrapper container container-1088">
		<div class="left-area-text">
			<h2>
				{{ post.cta_form_heading }}
			</h2>
			<p>
				{{ post.cta_form_paragraph }}
			</p>
		</div>
		<div class="content-form">
			{{ post.gravity_form_shortcode|shortcodes }}
		</div>
	</div>
	<div class="py-4 mb-5"></div>
	<div class="container container-1088">
		<hr />
	</div>
</section>
