<div class="background-image-wrapper">
	<img class="bg-arrow bg-arrow-one"
		src="{{ Image(post.meta('gray_arrow_image')).src }}"
		alt="{{ Image(post.meta('gray_arrow_image')).alt }}"
		class="hero-background-arrow" />
	<img class="bg-arrow bg-arrow-two"
		src="{{ Image(post.meta('gray_arrow_image')).src }}"
		alt="{{ Image(post.meta('gray_arrow_image')).alt }}"
		class="hero-background-arrow" />
</div>
