{% extends 'base.twig' %}

{% block content %}
	<div class="container container-1088 wrapper">
		<div class="horizontal-line-clean mb-5"></div>
		<p class="subheading">
			{{ post.subheading }}
		</p>
		<h1 class="heading">
			{{ post.heading }}
		</h1>
		<div>
			{{ post.text_editor }}
		</div>
	</div>
{% endblock %}
