// Fonts
$primary-font: Inter, 'greycliff-cf', 'Open Sans', sans-serif;
$primary-font-light: Inter, 'greycliff-cf', 'Open Sans', sans-serif;
$primary-font-medium: Inter, 'greycliff-cf', 'Open Sans', sans-serif;
$primary-font-bold: Inter, 'greycliff-cf', 'Open Sans', sans-serif;
$primary-font-demi-bold: Inter, 'greycliff-cf', 'Open Sans', sans-serif;
$secondary-font: Inter, 'Bebas Neue';

// Colors

$fc-purple: #613f97;
$fc-orange: #e85948;
$fc-pink: #cb198a;
$fc-gray: #49494b;
$fc-light-gray: rgba(73, 73, 75, 0.5);