.authors {
  margin-top: 85px;

  .author {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    padding: 15px 30px 15px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    >div {
      padding-block: 1rem;
    }

    img {
      border-radius: 50%;
    }

    .socials {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      a {
        font-size: 0.7rem;
        color: #000116;
        padding: 14px 17.3px;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.autho-info-box {
  .author-img-container {
    display: flex;
    justify-content: center;

    .author-img {
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .author-title,
  .author-desc {
    display: block;
    text-align: center;

    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }

  .author-socials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    @media screen and (min-width: 992px) {
      text-align: left;
      justify-content: flex-start;
    }

    a {
      color: #000116;
      margin-right: 1rem;

      i {
        font-size: 1.2rem;
      }
    }
  }
}