@import "variables";

.main-footer {

	a {
		color: #49494b;
	}

	a:hover {
		color: #613f97;
	}

	.gradient-bg {
		min-height: 111px;
		padding: 15px 40px;
		margin-bottom: 75px;
		background: linear-gradient(63deg, #cb198a 0%, #613f97 100%);

		@media (max-width: 1199px) {
			margin-bottom: 42px;
			padding: 39px 20px 48px;
			flex-direction: column;
			align-items: center;
			text-align: center;

			[class^='col-'] {
				width: 100%;
			}
		}

		@media (max-width: 767px) {
			padding: 36px 15px 42px;
		}

		h2 {
			color: white;
			margin-bottom: 10px;

			@media (max-width: 767px) {
				font-size: 28px;
				line-height: 32px;
			}
		}

		p {
			color: white;

			@media (max-width: 1199px) {
				margin-bottom: 30px;
			}

			@media (max-width: 767px) {
				margin-bottom: 12px;
			}
		}

		.signup-button-wrapper {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			@media (max-width: 1199px) {
				justify-content: center;
			}
		}

		.white-btn {
			background-color: white !important;
			color: $fc-purple !important;
		}
	}

	.footer-title {
		font-family: $primary-font;
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		text-align: left;
		color: #49494b;
	}

	@media screen and (min-width: 1200px) {
		.address-col {
			padding-right: 45px;
		}
	}

	.address-container {
		display: flex !important;
		align-items: flex-start;
	}

	.footer-address {
		height: 100%;

		@media (min-width: 1200px) {
			border-right: 1px solid rgba(#d0d0d0, 0.43);
		}

		@media (max-width: 1199px) {
			border-bottom: 1px solid rgba(#d0d0d0, 0.43);
		}

		ul {
			@media (max-width: 1199px) {
				margin-bottom: 20px;
				display: flex;
				column-gap: 20px;
			}

			@media (max-width: 575px) {
				flex-direction: column;
			}
		}

		li {
			@media (max-width: 1199px) {
				width: 50%;
			}

			@media (max-width: 575px) {
				width: 100%;
			}
		}
	}

	ul {
		padding-left: 0px;

		li {
			display: flex;
			font-family: $primary-font;

			text-align: left;

			list-style-type: none;
			margin: 0;
			margin-bottom: 25px;
			padding: 0;
			list-style-position: outside;

			font-weight: 500;
			font-size: 13px;
			line-height: 18px;
			text-align: left;
			color: #49494b;

			&:last-child {
				margin-bottom: 0;
			}

			.footer-cirlce {
				height: 42px;
				width: 42px;
				border: 1px solid #49494b;
				border-radius: 50%;
				text-align: center;
				padding-top: 6px;

				font-family: $primary-font;
				font-weight: 500;
				font-size: 18px;
				line-height: 26px;

				color: #49494b;
			}

			.inline {
				display: inline-block;
				position: relative;
				min-width: 60px;
			}

			.mr-4 {
				margin-right: 35px;
			}

			i {
				color: $fc-orange;
				margin-right: 8px;
			}

			i:hover {
				color: $fc-purple !important;
			}
		}

		li:hover {
			color: $fc-purple !important;
		}
	}

	.d-md-block {
		padding-top: 14px;
	}


	.footer-col {
		&:first-child {
			@media (max-width: 1199px) {
				margin-bottom: 57px;
				padding-left: 12px;
				width: 100%;
			}

			@media (max-width: 767px) {
				margin-bottom: 32px;
			}
		}

		&:not(:first-child) {
			@media (max-width: 1199px) {
				width: 25%;
			}

			@media (max-width: 767px) {
				padding-bottom: 30px;
				width: 50%;
			}
		}
	}

	.py-3 {
		@media (max-width: 767px) {
			display: none;
		}
	}

	.back-to-top-icon-wrapper {
		text-align: center;

		.back-to-top-icon {
			width: 60px;
			height: auto;
		}
	}
}

._2x-iframe-container {
	margin: 0px 0px 0px 0px;
	padding: 25px 25px 25px 25px;
	background-color: #FFFFFF;
	border-style: none;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
}