.fc-orange {
  color: #e85948;
}

.fc-orange {
  color: #e85948;
}

@font-face {
  font-family: "Greycliff";
  src: url(../fonts/GreycliffCF-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Greycliff Light";
  src: url(../fonts/GreycliffCF-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Greycliff Medium";
  src: url(../fonts/GreycliffCF-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Greycliff Bold";
  src: url(../fonts/GreycliffCF-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Greycliff Demi Bold";
  src: url(../fonts/GreycliffCF-DemiBold.otf);
}
h1 {
  font-family: "Greycliff Medium", "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 40.74px;
  line-height: 45px;
  color: #000000;
}
@media screen and (min-width: 992px) {
  h1 {
    line-height: 70px;
  }
}

h2 {
  font-family: "Greycliff Medium", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #49494b;
}

h3 {
  font-family: "Greycliff Medium", "Open Sans", sans-serif;
  font-size: 24px;
}

h4 {
  font-family: "Greycliff Medium", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px !important;
  line-height: 26px;
}

p {
  font-family: "Greycliff Medium", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #49494b;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  color: #613f97 !important;
}

textarea:focus,
input:focus {
  outline: none !important;
}

.text-light {
  color: white;
}

.text-primary {
  color: #e85948 !important;
}

.main-btn,
.search-filter-reset,
.fc-main-button a,
.content-form input[type=submit] {
  border: #e85948;
  background-color: #e85948 !important;
  min-width: 151px;
  padding-bottom: 16px !important;
  padding-top: 14px !important;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px !important;
  justify-self: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: inline-block;
  font-family: "Greycliff", "Open Sans", sans-serif !important;
  font-size: 14px !important;
  line-height: 1 !important;
  text-align: center !important;
  color: #ffffff !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  transition: all 1s;
}

.main-btn:hover,
.search-filter-reset:hover,
.fc-main-button a:hover {
  background-color: #613f97 !important;
  color: white !important;
  transition: all 1s;
}

.main-link {
  font-family: "Greycliff", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: #e85948;
  text-decoration: none !important;
}
.main-link i {
  margin-left: 15px;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #e85948;
}

.main-link:hover {
  transition: 0.4s;
  color: #e85948;
  text-decoration: underline !important;
}

.main-link::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 500;
  content: "\f061";
  color: red;
  margin-left: 10px;
}

.main-btn-white {
  border: white;
  background-color: white;
  width: 151px;
  height: 40px;
  border-radius: 4px;
  justify-self: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: inline-block;
  font-family: "Greycliff", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  padding-top: 8px;
  text-align: center !important;
  color: #613f97 !important;
  text-decoration: none !important;
}

.main-btn-white:hover {
  transition: 0.4s;
  background-color: #613f97 !important;
  border: white 1px solid !important;
  color: white !important;
}

.fc-orange {
  color: #e85948;
}

header h2 {
  line-height: 1.2 !important;
}

.margin-top-for-nav {
  margin-top: 66px;
}

.mobile-nav .subnav-1-image {
  width: 100%;
  height: auto;
  max-width: 325px;
}

#main-navbar {
  background-color: white;
  padding-top: 13px;
  padding-bottom: 13px;
}
#main-navbar .nav-container {
  width: 1127.88px;
  padding-left: 15px;
  padding-right: 15px;
}
#main-navbar .nav-container a {
  font-family: "Greycliff", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: left;
  margin-right: 15px;
  line-height: 1;
}
#main-navbar .nav-container .nav-item {
  display: flex;
  align-items: center;
}
#main-navbar .nav-container .nav-item a {
  color: #49494b;
  white-space: nowrap;
}
#main-navbar .nav-container .nav-logo {
  height: 30.89px;
  margin-top: 4px;
}
#main-navbar .nav-container .float-right {
  justify-content: right;
}

@media screen and (max-width: 991px) {
  #main-navbar {
    padding: 13px 0;
  }
}
.nav-item a:hover {
  color: #613f97 !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-light {
  transition: 0.4s;
  background-color: white !important;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
}
.nav-light .dropdown-menu {
  margin-top: 35px !important;
}
.nav-light .dropdown-menu .arrow-up {
  margin-top: -29px;
}

.nav-row-wrapper {
  justify-content: space-between;
}

.nav-link {
  color: #49494b !important;
  display: flex !important;
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}

.nav-link.hidden {
  visibility: hidden;
}

.nav-icon img.hidden {
  visibility: hidden;
}

#main-navbar .nav-container .nav-item.menu-expand {
  display: flex;
  position: relative;
}

#main-navbar .nav-container .nav-item .fa-angle-left {
  position: relative;
  top: 1px;
  right: 7px;
}

#main-navbar .nav-container .nav-item.hidden {
  display: none;
}

#cta-btn-nav.white-hover:hover {
  color: white !important;
}

.nav-arrow {
  margin-left: 8px;
}

#nav-icon-1 {
  margin-right: 5px;
}

#nav-icon-2 {
  margin-right: 12px;
}

.sub-nav-wrapper {
  display: none;
  background-color: #f8f8f8;
  position: absolute;
  top: 84px;
  right: 0;
  left: 0;
}

@media screen and (min-width: 992px) {
  .sub-nav-wrapper {
    display: block;
  }
}
.subnav-title {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 20px;
}

.dropdown-content {
  display: none;
}

.subnav-li {
  display: flex;
  flex-direction: row;
  position: relative;
}

.sub-nav-wrapper ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.subnav-link-a:hover * {
  color: #613f97;
}

.subnav-link-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #49494b;
  display: block;
}

.subnav-link-subtitle,
.subnav-link-subtitle:hover {
  color: #49494b !important;
}

.subnav-link-title-heading {
  font-size: 18px;
}

.subnav-link-title a {
  color: #49494b;
}

.subnav-link-title a:hover {
  color: red;
}

.subnav-link-subtitle {
  font-size: 12px;
  font-weight: 200;
}

.subnav-link-title.bold-smaller {
  font-family: "Greycliff Bold", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.link-right-subnav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 45px;
}

.link-icon-subnav {
  display: flex;
  width: 25px;
  margin-right: 40px;
  align-items: center;
  pointer-events: none !important;
}

.link-icon-subnav img {
  max-height: 18px;
  max-width: 22px;
  margin: 0 auto;
}

.subnav-3-right-wrapper {
  display: grid;
  grid-template-columns: 50px 260px auto;
}

.subnav-3-right-wrapper-mobile {
  display: grid;
  grid-template-columns: 45% 55%;
}

.line-divider {
  height: 265px;
  width: 2px;
  border-left: 1px solid rgba(73, 73, 75, 0.2);
}

.featured-post-image {
  width: 100%;
  max-width: 260px;
  height: auto;
  border-radius: 6px;
}

.featured-post-text-area {
  margin-left: 16px;
}

.featured-post-text-area::after,
.featured-post-text-area-mobile::after {
  content: url("../images/arrow-right-orange.svg");
}

.featured-post-text-area:hover::after,
.featured-post-text-area-mobile:hover::after {
  content: url("../images/arrow-right-purple.svg");
}

.featured-post-text-area-mobile {
  padding-left: 10px;
  padding-right: 15px;
}

.featured-post-category {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 2px;
}

.featured-post-title {
  color: #e85948;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 13px;
  line-height: 1.2;
  display: block;
}

.featured-post-title:hover {
  color: #613f97 !important;
}

.featured-post-title-mobile {
  line-height: 22px;
  margin-bottom: 5px;
}

.featured-post-paragraph {
  color: #49494b !important;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  max-width: 275px;
  margin-bottom: 12px;
}

.featured-post-paragraph:hover {
  color: #49494b !important;
}

.featured-post-paragraph-mobile {
  margin-bottom: 6px;
}

.sub-nav-container-775 {
  max-width: 775px !important;
}

.sub-nav-container-960 {
  max-width: 960px !important;
}

.sub-nav-container-1075 {
  max-width: 1075px !important;
}

.sub-nav-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
}

.sub-nav-row-3 {
  display: grid;
  grid-template-columns: 1fr 45px 1fr 1fr;
  grid-template-rows: auto;
}

.featured-title {
  margin-left: 50px;
}

.mt-25px {
  margin-top: 25px;
}

.cta-btn {
  margin-right: 0 !important;
}

.learn-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.learn-more-wrapper a {
  color: #e85948;
}

.learn-more-wrapper a:hover {
  color: #613f97;
}

.learn-more-link {
  font-size: 13px;
  margin-right: 15px;
}

.learn-more-link::after {
  content: url("../images/arrow-right-orange.svg");
  position: relative;
  left: 18px;
  top: 1px;
}

.subnav-li::after {
  content: url("../images/arrow-right-orange.svg");
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

#sub-nav-area-3 .subnav-li::after,
#mobile_nav_submenu_3 .subnav-li::after,
#mobile_nav_submenu_4 .subnav-li::after {
  top: 43%;
}

.subnav-li:hover::after {
  content: url("../images/arrow-right-purple.svg");
}

.learn-more-link:hover:after {
  content: url("../images/arrow-right-purple.svg");
  position: relative;
  left: 18px;
  top: 1px;
}

.subnav-paragraph {
  font-family: "Greycliff";
  font-size: 10px;
  font-weight: 300;
  line-height: 16px;
  padding-right: 65px;
  margin-top: 8px;
  margin-bottom: 10px;
  max-width: 350px;
}

.horizontal-line {
  max-width: 100%;
  border-top: 1px solid rgba(73, 73, 75, 0.2);
  margin-bottom: 20px;
  margin-right: 32px;
}

/* Mobile Navigation */
.mobile-nav {
  align-items: flex-start !important;
  padding-left: 32px;
  padding-right: 10px;
  padding-top: 15px !important;
  margin-top: 66px;
  background-color: #f8f8f8;
}

.mobile-nav-wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navbar-toggler {
  background-color: #f8f8f8;
  border-color: transparent !important;
  margin-right: 10px;
}

@media (max-width: 374px) {
  .nav-logo {
    max-width: 95px;
  }
}
@media (min-width: 375px) and (max-width: 576px) {
  .nav-logo {
    max-width: 140px;
  }
}
@media (max-width: 576px) {
  .mobile-cta {
    font-size: 12px !important;
    line-height: 1 !important;
    min-width: unset;
    padding: 11px 12px 14px 12px !important;
  }
}
@media (min-width: 992px) {
  .mobile-cta {
    display: none;
  }
}
.mobile-nav-link {
  max-width: 155px;
}

.mobile-nav-link-arrow {
  margin-left: auto;
}

body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
  z-index: 10;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.mobile-btn-close-back {
  background: none !important;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}

.mobile-subnav-ul {
  padding-left: 0 !important;
  max-width: 350px;
}

.mobile-subnav-ul .subnav-li {
  margin-bottom: 28px;
}

.mobile-icons-ul {
  padding-left: 0 !important;
  padding-top: 23px !important;
  padding-bottom: 23px !important;
  margin-bottom: 0 !important;
}

.mobile-icons-ul li {
  display: inline;
}

.mobile-icon-left {
  margin-right: 25px;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
  .offcanvas-header {
    display: block;
  }
  .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    height: calc(100% - 65px);
    z-index: 1200;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .mobile-offcanvas.show {
    visibility: visible;
    transform: translateX(0);
  }
  .mobile-offcanvas .container,
.mobile-offcanvas .container-fluid {
    display: block;
  }
  .subnav-link-title {
    font-size: 13px;
  }
  .subnav-link-title-heading {
    font-size: 18px;
  }
  .subnav-link-subtitle {
    font-size: 11px;
  }
  .subnav-link-title.bold-smaller {
    font-size: 13px;
  }
}
.max-width-350 {
  max-width: 350px;
}

/* End Mobile Navigation */
.fc-orange {
  color: #e85948;
}

#main-footer {
  padding: 0 32px;
}
@media (max-width: 767px) {
  #main-footer {
    padding: 0 16px;
  }
}
#main-footer a {
  color: #49494b;
}
#main-footer a:hover {
  color: #613f97;
}
#main-footer .form-container {
  min-height: 111px;
  padding: 15px 40px;
  background: #cb198a;
  background: -moz-linear-gradient(63deg, #cb198a 0%, #613f97 100%);
  background: -webkit-linear-gradient(63deg, #cb198a 0%, #613f97 100%);
  background: linear-gradient(63deg, #cb198a 0%, #613f97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb198a",endColorstr="#613f97",GradientType=1);
  margin-bottom: 75px;
}
@media (max-width: 1199px) {
  #main-footer .form-container {
    margin-bottom: 42px;
    padding: 39px 20px 48px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #main-footer .form-container [class^=col-] {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #main-footer .form-container {
    padding: 36px 15px 42px;
  }
}
#main-footer .form-container h2 {
  color: white;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #main-footer .form-container h2 {
    font-size: 28px;
    line-height: 32px;
  }
}
#main-footer .form-container p {
  color: white;
}
@media (max-width: 1199px) {
  #main-footer .form-container p {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  #main-footer .form-container p {
    margin-bottom: 12px;
  }
}
#main-footer .form-container .signup-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1199px) {
  #main-footer .form-container .signup-button-wrapper {
    justify-content: center;
  }
}
#main-footer .form-container .white-btn {
  background-color: white !important;
  color: #613f97 !important;
}
#main-footer .footer-bg .container-fluid {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  max-width: 1088px;
}
@media (max-width: 767px) {
  #main-footer .footer-bg .container-fluid {
    padding: 0 12px !important;
  }
}
#main-footer .footer-bg .container-fluid .footer-title {
  font-family: "Greycliff", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #49494b;
}
@media screen and (min-width: 1200px) {
  #main-footer .footer-bg .container-fluid .address-col {
    padding-right: 45px;
  }
}
#main-footer .footer-bg .container-fluid .address-container {
  display: flex !important;
  align-items: flex-start;
}
#main-footer .footer-bg .container-fluid .footer-address {
  height: 100%;
}
@media (min-width: 1200px) {
  #main-footer .footer-bg .container-fluid .footer-address {
    border-right: 1px solid rgba(208, 208, 208, 0.43);
  }
}
@media (max-width: 1199px) {
  #main-footer .footer-bg .container-fluid .footer-address {
    border-bottom: 1px solid rgba(208, 208, 208, 0.43);
  }
}
@media (max-width: 1199px) {
  #main-footer .footer-bg .container-fluid .footer-address ul {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
  }
}
@media (max-width: 575px) {
  #main-footer .footer-bg .container-fluid .footer-address ul {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  #main-footer .footer-bg .container-fluid .footer-address li {
    width: 50%;
  }
}
@media (max-width: 575px) {
  #main-footer .footer-bg .container-fluid .footer-address li {
    width: 100%;
  }
}
#main-footer .footer-bg .container-fluid ul {
  padding-left: 0px;
}
#main-footer .footer-bg .container-fluid ul li {
  display: flex;
  font-family: "Greycliff", "Open Sans", sans-serif;
  text-align: left;
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-position: outside;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #49494b;
}
#main-footer .footer-bg .container-fluid ul li:last-child {
  margin-bottom: 0;
}
#main-footer .footer-bg .container-fluid ul li .footer-cirlce {
  height: 42px;
  width: 42px;
  border: 1px solid #49494b;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  font-family: "Greycliff", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #49494b;
}
#main-footer .footer-bg .container-fluid ul li .inline {
  display: inline-block;
  position: relative;
  min-width: 60px;
}
#main-footer .footer-bg .container-fluid ul li .mr-4 {
  margin-right: 35px;
}
#main-footer .footer-bg .container-fluid ul li i {
  color: #e85948;
  margin-right: 8px;
}
#main-footer .footer-bg .container-fluid ul li i:hover {
  color: #613f97 !important;
}
#main-footer .footer-bg .container-fluid ul li:hover {
  color: #613f97 !important;
}
#main-footer .footer-bg .container-fluid .d-md-block {
  padding-top: 14px;
}
#main-footer .footer-logo {
  text-align: center;
}
#main-footer .footer-logo img {
  margin: auto;
  width: 61px;
  margin-top: 70px;
}
@media (max-width: 1199px) {
  #main-footer .footer-col:first-child {
    margin-bottom: 57px;
    padding-left: 12px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #main-footer .footer-col:first-child {
    margin-bottom: 32px;
  }
}
@media (max-width: 1199px) {
  #main-footer .footer-col:not(:first-child) {
    width: 25%;
  }
}
@media (max-width: 767px) {
  #main-footer .footer-col:not(:first-child) {
    padding-bottom: 30px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  #main-footer .py-3 {
    display: none;
  }
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

body {
  min-height: 100vh;
  font-family: "Greycliff Medium", "Open Sans", sans-serif;
}

.container-1088 {
  max-width: 1088px !important;
}

.container-900 {
  max-width: 900px;
}

.container-700 {
  max-width: 700px;
}

.container-550 {
  max-width: 550px;
}

#content {
  overflow: hidden !important;
}

.horizontal-line-clean {
  max-width: 100%;
  border-top: 1px solid rgba(73, 73, 75, 0.2);
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.object-fit-cover {
  object-fit: cover;
}

/* Skip Link */
.skip-link {
  position: absolute;
  top: -100px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  color: #21759b;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  left: 6px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000;
  -webkit-transition: top 0.75s ease-out;
  transition: top 0.75s ease-out;
}

/* Modules CSS */
.breadcrumb-section .breadcrumb-divider {
  margin-bottom: 0 !important;
}

.breadcrumb-section .elementor-divider {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.breadcrumb-text {
  margin-bottom: 0 !important;
}

.breadcrumb-text p {
  font-size: 12px !important;
  line-height: 40px !important;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.breadcrumb-text a {
  color: #e85948;
}

@media (max-width: 767px) {
  .four-column-single-column {
    max-width: 325px !important;
    margin: 0 auto;
  }
}
.four-column-single-column .explore-use-cases-link {
  margin-top: 3px;
}

.four-column-icon .elementor-icon svg {
  height: 100%;
  width: 100%;
  max-height: 60px !important;
}

.four-column-icon.three-column-icon .elementor-icon svg {
  height: 100%;
  width: 100%;
  max-height: 120px !important;
}

.four-column-icon {
  margin-bottom: 35px;
}

.four-column-title {
  margin-bottom: 15px !important;
}

.four-column-title .elementor-widget-container * {
  font-size: 24px !important;
  line-height: 28px;
}

.four-column-text-area {
  margin-bottom: 0 !important;
}

.four-column-text-area * {
  font-size: 14px;
  line-height: 26px;
}

.fc-single-accordion {
  margin-bottom: 0 !important;
}

.fc-single-accordion .elementor-accordion .elementor-accordion-item {
  border: 0;
  border-bottom: 1px solid #d0d0d0;
}

.fc-single-accordion .elementor-accordion .elementor-tab-content {
  border-top: 0;
  padding-top: 3px;
}

.fc-single-accordion .elementor-accordion-title {
  font-size: 18px;
  font-family: "Greycliff Medium", "Open Sans", sans-serif !important;
  margin-left: 25px !important;
  color: #49494b !important;
}

.fc-single-accordion .elementor-tab-title {
  padding-bottom: 21px;
  padding-top: 21px;
  display: flex;
  align-items: center;
}

.fc-single-accordion .elementor-accordion-title::after {
  content: url("../images/arrow-right-orange.svg");
  position: absolute;
  right: 20px;
  transition: transform 1.5s;
}

.fc-single-accordion .elementor-tab-title.elementor-active .elementor-accordion-title::after {
  transform: rotateY(0deg) rotate(-90deg); /* needs Y at 0 deg to behave properly*/
  transition: transform 1.5s;
}

.fc-single-accordion svg {
  height: 23px !important;
  width: 100% !important;
}

.fc-single-accordion p {
  font-size: 14px;
  line-height: 26px;
  margin-left: 49px;
}

.explore-use-cases-link {
  margin-top: 20px;
  margin-bottom: 5px !important;
}

.explore-use-cases-link p {
  margin-bottom: 0;
}

.explore-use-cases-link a {
  color: #e85948;
  font-size: 13px;
  text-decoration: none;
}

.explore-use-cases-link a:after,
.simple-banner .elementor-button:after {
  content: url("../images/arrow-right-orange.svg");
  position: relative;
  left: 18px;
  top: 1px;
}

.explore-use-cases-link a:hover:after,
.simple-banner .elementor-button:hover:after {
  content: url("../images/arrow-right-purple.svg");
  position: relative;
  left: 18px;
  top: 1px;
}

.simple-banner .btn-no-arrow .elementor-button:after {
  content: "";
}

.fc-single-accordion.no-icons .elementor-accordion-title {
  margin-left: 0 !important;
}

.fc-single-accordion.no-icons p {
  margin-left: 0;
}

.six-col-app-icon img {
  width: 100% !important;
  height: 100% !important;
  max-height: 75px !important;
  max-width: 75px !important;
}

.six-col-app-icon {
  margin-bottom: 10px !important;
}

.six-col-app-text {
  max-width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.six-col-app-text p {
  font-size: 12px !important;
  line-height: 14px;
  text-align: center !important;
  margin-bottom: 5px;
}

.fc-single-post-preview .elementor-post__title {
  font-family: "Greycliff Bold", "Open Sans", sans-serif !important;
  font-size: 15px !important;
  line-height: 17px !important;
  margin-bottom: 5px !important;
  color: #e85948 !important;
  letter-spacing: unset !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.fc-single-post-preview p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px !important;
  font-family: "Greycliff Medium", "Open Sans", sans-serif !important;
  line-height: 16px !important;
  color: #49494b !important;
}

.fc-single-post-preview p {
  display: none;
}

.fc-single-post-preview p:first-of-type {
  display: -webkit-box;
}

.fc-single-post-preview .elementor-post__thumbnail {
  border-radius: 6px !important;
}

.fc-single-post-preview .elementor-post__thumbnail__link {
  margin-bottom: 5px !important;
}

.fc-single-post-preview .elementor-post__read-more {
  color: #e85948 !important;
  position: absolute;
  bottom: 0;
}

.elementor-posts .elementor-post__excerpt {
  margin-bottom: 22px !important;
}

.fc-single-post-preview .elementor-post__thumbnail {
  padding-bottom: unset !important;
}

.fc-single-post-preview .elementor-post__thumbnail img {
  position: relative !important;
  top: unset !important;
  left: unset !important;
  -webkit-transform: unset !important;
  transform: unset !important;
}

@media (min-width: 1201px) {
  .fc-single-post-preview article {
    display: grid !important;
    grid-template-columns: 135px 1fr;
  }
  .fc-single-post-preview img,
.fc-single-post-preview .elementor-post__thumbnail {
    width: 135px !important;
    height: 140px !important;
    object-fit: cover !important;
  }
  .fc-single-post-preview .elementor-post__text {
    padding-left: 22px;
  }
}
.two-col-section {
  display: flex;
}

.two-col-left {
  order: 2;
}

.two-col-right {
  order: 1;
}

@media (min-width: 768px) {
  .two-col-left {
    order: 1;
  }
  .two-col-left .elementor-widget-wrap,
.two-col-right-alt .elementor-widget-wrap,
.two-col-right-icon .elementor-widget-wrap {
    display: flex;
    align-content: center;
  }
  .two-col-right {
    order: 2;
  }
}
.two-col-subtitle-elem {
  margin-bottom: 0 !important;
}

.two-col-subtitle-elem p {
  color: #e85948;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.two-col-title-elem {
  margin-bottom: 15px !important;
}

.two-col-title-elem * {
  font-size: 32px !important;
  line-height: 40px !important;
}

.two-col-paragraph-elem {
  font-size: 14px;
  line-height: 26px;
}

.two-col-paragraph-elem p {
  font-size: 14px;
  margin-bottom: 4px !important;
}

.swiper-slide-inner .elementor-slide-heading {
  font-size: 24px !important;
  line-height: 28px !important;
  font-family: "Greycliff Medium", "Open Sans", sans-serif !important;
  font-weight: 500 !important;
  margin-bottom: 25px !important;
}

.simple-banner .swiper-slide-contents {
  max-width: unset !important;
}

.simple-banner-p {
  margin-bottom: 0 !important;
}

.swiper-slide-inner .elementor-slide-description {
  font-size: 14px !important;
  line-height: 26px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px !important;
  max-width: 550px !important;
}

.simple-banner .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px !important;
}

.simple-banner .swiper-slide-bg {
  background-color: transparent !important;
}

.simple-banner.light .elementor-swiper {
  background-color: white !important;
}

.simple-banner.dark .elementor-swiper {
  background-color: #49494b !important;
}

.simple-banner.gradient .elementor-swiper {
  background: linear-gradient(to right, #cb198a, #613f97);
}

.simple-banner.gradient .elementor-button {
  color: white !important;
}

.template-name p {
  margin-bottom: 0 !important;
  font-size: 13px !important;
  color: gray;
  letter-spacing: 1px !important;
}

.split-img-col img,
.split-img-col svg {
  position: absolute;
  width: auto;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  max-width: unset !important;
}

@media (min-width: 1500px) {
  .split-img-col img,
.split-img-col svg {
    left: 0;
    width: 100% !important;
    height: auto !important;
  }
}
.split-img-col .elementor-widget-wrap {
  overflow-y: hidden;
  overflow-x: visible;
}

.split-img-col .elementor-widget {
  position: unset;
}

.split-text-col .elementor-heading-title {
  font-size: 24px;
  line-height: 28px;
  font-family: "Greycliff Medium", "Open Sans", sans-serif !important;
}

.split-text-col .elementor-widget-heading {
  margin-bottom: 25px !important;
}

@media (min-width: 768px) {
  .split-text-col .elementor-widget-wrap {
    max-width: 450px;
  }
  .split-text-col .elementor-widget-button {
    margin-bottom: 0 !important;
  }
}
.fc-mobile-img img {
  width: 100%;
}

.two-col-split-arrow img,
.two-col-split-arrow svg {
  position: absolute;
  left: 100px;
  top: 70%;
  width: 1144px;
  transform: translateY(-50%);
  max-width: unset !important;
}

.two-col-split-arrow .left-side img,
.two-col-split-arrow .left-side svg {
  left: unset;
  right: 100px;
}

@media (min-width: 425px) and (max-width: 768px) {
  .two-col-split-arrow img,
.two-col-split-arrow svg {
    left: 210px;
  }
  .two-col-split-arrow .left-side img,
.two-col-split-arrow .left-side svg {
    left: unset;
    right: 210px;
  }
}
@media (max-width: 767px) {
  .two-col-split-arrow.arrow-on-left .elementor-container {
    display: flex;
  }
  .two-col-split-arrow.arrow-on-left .elementor-container .right-col-arrow.left-side {
    order: 2;
  }
}
@media (min-width: 768px) {
  .two-col-split-arrow img,
.two-col-split-arrow svg {
    left: 25px;
  }
  .two-col-split-arrow .left-side img,
.two-col-split-arrow .left-side svg {
    left: unset;
    right: 25px;
  }
}
.two-col-split-arrow-text .elementor-widget-wrap {
  max-width: 535px;
  margin-left: auto;
  margin-right: auto;
}

.right-col-arrow .elementor-widget {
  position: unset;
}

.two-col-image-and-gradient {
  overflow-x: visible;
  overflow-y: hidden;
}

.two-col-image-and-gradient img,
.two-col-image-and-gradient img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two-col-image-and-gradient-left .elementor-widget {
  position: unset !important;
}

.two-col-image-and-gradient-left .elementor-widget-wrap {
  position: relative;
  overflow-y: clip;
}

.two-col-image-and-gradient-right .elementor-widget-wrap {
  max-width: 570px !important;
}

.two-col-image-and-gradient-right {
  background: linear-gradient(to right, #cb198a, #613f97);
}

.two-col-image-and-gradient-right .swiper-slide-bg,
.two-col-image-and-gradient-right .elementor-widget-wrap {
  background-image: none !important;
  background-color: transparent !important;
}

.two-col-image-and-gradient-right .swiper-slide-inner .elementor-button {
  background-color: #e85948;
  color: white !important;
}

.two-col-image-and-gradient-right .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px !important;
}

.content-form {
  background-color: #f0f0f0;
  padding: 25px 20px 10px 20px;
  border-radius: 6px;
}

.content-form .gform_description {
  font-size: 18px;
  line-height: 26px;
}

.content-form .gform_heading {
  margin-bottom: 15px;
}

.content-form .gfield_label {
  font-size: 13px !important;
  font-family: "Greycliff Demi Bold", "Open Sans", sans-serif;
}

.content-form input,
.content-form textarea {
  border: 0;
}

.content-form input:focus {
  border-bottom: 4px solid #613f97;
}

.content-form input:-webkit-autofill,
.content-form input:-webkit-autofill:hover,
.content-form input:-webkit-autofill:focus,
.content-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.breadcrumbs {
  border-top: 1px solid rgba(208, 208, 208, 0.43);
  border-bottom: 1px solid rgba(208, 208, 208, 0.43);
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 11px;
  color: #49494b;
  letter-spacing: 2px;
  font-family: "Greycliff Medium", "Open Sans", sans-serif;
}

.breadcrumbs > a {
  color: #49494b !important;
}

.back-to-top-icon {
  width: 60px;
  height: auto;
}

.back-to-top-icon-wrapper {
  text-align: center;
}

.slick-prev,
.slick-next {
  height: 40px !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome;
  font-size: 40px;
}

.slick-next:before {
  content: "\f0da";
}

.slick-prev:before {
  content: "\f0d9";
}

.view-link {
  font-size: 16px;
}

.post-type-post a {
  color: #e85948;
}
.post-type-post a:hover {
  color: #613f97;
}

.post-type-page {
  margin-top: 66px;
}
@media (min-width: 992px) {
  .post-type-page {
    margin-top: 85px;
  }
}