@import 'variables.scss';

.wrapper {
	margin-top: 140px;
	@media (max-width: 991px) {
		margin-top: 108px;
	}
}
.main {
	.container--solutions {
		max-width: 1128px !important;
		padding: 0 32px;
		@media (max-width: 767px) {
			padding: 0 16px;
		}
	}
	.image-side {
		position: relative;
	}
	.image-side-arrow {
		position: absolute;
		bottom: 105px;
		left: calc(100% - 170px);
		width: 727px;
		height: 543px;
		background-size: cover;
		background-position: left bottom;
		z-index: -1;
		@media (max-width: 767px) {
			bottom: 100px;
			left: calc(100% - 100px);
			width: 560px;
			height: 420px;
		}
	}
	.image-text {
		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
		}
		a {
			@media (max-width: 767px) {
				display: inline-block;
				max-width: 90%;
			}
		}
	}
	.image-side {
		@media (max-width: 767px) {
			order: -1;
			margin-bottom: 16px;
		}
	}
	.testimonial-link {
		a {
			color: $fc-orange;
			&:hover {
				text-decoration: none !important;
				color: $fc-purple !important;
			}
		}
	}
	.left-image-right-text {
		.text-side {
			@media (max-width: 767px) {
				width: 90%;
			}
		}
	}
}

.hero {
	.image-side img {
		width: 100%;
		object-fit: cover;
		border-radius: 6px;
		height: 275px;
		margin-bottom: 50px;
	}
	h1 {
		font-size: 32px;
		line-height: 40px;
	}
	.subheading {
		line-height: 1;
		margin-bottom: 0;
		text-transform: uppercase;
		color: $fc-orange;
	}
	.background-arrow {
		width: 1350px;
		position: relative;
	}
	.hero-background-image {
		position: absolute;
		bottom: -90px;
		left: -200px;
		z-index: -10;
	}
}
.hero-desktop {
	display: grid;
	grid-template-columns: 1fr 1fr 1px;
	.text-side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 100px;
	}
	.image-side img {
		height: 510px;
	}
}
.text-editor {
	p {
		font-size: 15px;
		max-width: 625px;
		margin-right: auto;
		margin-left: auto;
	}
}
.image-text a {
	color: $fc-orange;
}
.image-text p,
.image-text a {
	font-size: 14px;
	line-height: 18px;
}
.underlined-text {
	text-decoration: underline;
}

.left-text-right-arrow {
	@media (max-width: 767px) {
		padding-bottom: 48px;
	}
	.image-side {
		height: 525px;
		position: relative;
		@media (max-width: 767px) {
			height: 598px;
			margin-top: -235px;
			z-index: -1;
		}
		img {
			@media (max-width: 767px) {
				width: 797px;
				left: 40%;
				bottom: 0;
				z-index: 0;
			}
			@media (max-width: 430px) {
				left: 24px;
			}
		}
	}
	.img-wrapper {
		padding-top: 30px;
	}
}
.arrow {
	display: block;
	position: absolute;
	bottom: -100px;
	left: 0;
	z-index: -1000;
}
.arrow-mobile {
	width: 820px;
}
.arrow-tablet {
	width: 1160px;
}
.background-image-wrapper {
	position: absolute;
	top: 650px;
	right: 0;
	left: 0;
	z-index: -1000;
	overflow: hidden;
}
.bg-arrow {
	width: 1750px;
}
.bg-arrow-one {
	position: relative;
	left: -875px;
}
.bg-arrow-two {
	position: relative;
	left: -1240px;
}
// CTA FORM SECTION
#cta-form {
	padding: 0 12px;
	background: linear-gradient(#e6e6e6, #ffffff);
	@media (max-width: 991px) {
		padding: 0 4px;
	}
	.left-area-text {
		padding-right: 90px;
		@media (max-width: 991px) {
			padding-right: 0;
		}
		p {
			@media (max-width: 767px) {
				margin-bottom: 37px;
			}
		}
	}
	.content-form input[type='submit'] {
		width: 227px;
		padding-bottom: 18px !important;
	}
	.cta-form-wrapper {
		@media (min-width: 1200px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
		}
		@media (max-width: 991px) {
			max-width: 560px !important;
		}
	}
	.gform_footer {
		text-align: right;
	}

	.py-5 {
		@media (max-width: 991px) {
			padding: 28px 0 !important;
		}
		@media (max-width: 767px) {
			padding: 24px 0 !important;
		}
	}

	.py-4 {
		@media (max-width: 991px) {
			padding: 5px 0 !important;
		}
	}
	.mb-5 {
		@media (max-width: 767px) {
			margin-bottom: 20px !important;
		}
	}
	hr {
		@media (max-width: 767px) {
			display: none;
		}
	}
}
#cta-form .content-form {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
// CTA FORM END
@media (min-width: 768px) {
	.hero {
		.image-side img {
			height: 366px;
		}
	}
	.image-text {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		align-items: center;
	}
	.text-arrow {
		display: grid;
		grid-template-columns: 350px 1fr;
		column-gap: 16px;
	}
}
@media (min-width: 1200px) {
	.hero {
		.image-side img {
			height: 500px;
		}
	}
	.left-text-right-image {
		grid-template-columns: 1fr 530px;
		.text-side {
			padding-left: 90px;
		}
	}
	.image-text {
		grid-gap: 90px;
		align-items: flex-start;
	}
	.left-image-right-text {
		grid-template-columns: 530px 1fr;
		.text-side {
			padding-right: 90px;
		}
	}
	.image-text .text-side {
		padding-top: 45px;
	}
	.text-arrow {
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;
	}
	.arrow-tablet {
		width: 1520px;
	}
	.testimonial-wrapper {
		display: grid;
		grid-template-columns: 175px 1fr;
		grid-gap: 35px;
	}
}

#cta-form {
	background: linear-gradient(#e6e6e6, #ffffff);
}
#cta-form .content-form {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 992px) {
	.cta-form-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
}

.view-link {
	margin-left: 15px;
}
