.main-footer a {
  color: #49494b;
}
.main-footer a:hover {
  color: #613f97;
}
.main-footer .gradient-bg {
  padding: 15px 40px;
  margin-bottom: 75px;
  background: linear-gradient(63deg, #cb198a 0%, #613f97 100%);
}
@media (max-width: 1199px) {
  .main-footer .gradient-bg {
    margin-bottom: 42px;
    padding: 39px 20px 48px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-footer .gradient-bg [class^=col-] {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-footer .gradient-bg {
    padding: 36px 15px 42px;
  }
}
.main-footer .gradient-bg > .row {
  align-items: center;
  padding-block: 1rem;
}
.main-footer .gradient-bg h2 {
  color: white;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .main-footer .gradient-bg h2 {
    font-size: 28px;
    line-height: 32px;
  }
}
.main-footer .gradient-bg p {
  color: white;
}
@media (max-width: 1199px) {
  .main-footer .gradient-bg p {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .main-footer .gradient-bg p {
    margin-bottom: 12px;
  }
}
.main-footer .gradient-bg .signup-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1199px) {
  .main-footer .gradient-bg .signup-button-wrapper {
    justify-content: center;
  }
}
.main-footer .gradient-bg .white-btn {
  background-color: white !important;
  color: #613f97 !important;
}
.main-footer .footer-title {
  font-family: "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #49494b;
}
@media screen and (min-width: 1200px) {
  .main-footer .address-col {
    padding-right: 45px;
  }
}
.main-footer .address-container {
  display: flex !important;
  align-items: flex-start;
}
.main-footer .footer-address {
  height: 100%;
}
@media (min-width: 1200px) {
  .main-footer .footer-address {
    border-right: 1px solid rgba(208, 208, 208, 0.43);
  }
}
@media (max-width: 1199px) {
  .main-footer .footer-address {
    border-bottom: 1px solid rgba(208, 208, 208, 0.43);
  }
}
@media (max-width: 1199px) {
  .main-footer .footer-address ul {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
  }
}
@media (max-width: 575px) {
  .main-footer .footer-address ul {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .main-footer .footer-address li {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .main-footer .footer-address li {
    width: 100%;
  }
}
.main-footer ul {
  padding-left: 0px;
}
.main-footer ul li {
  display: flex;
  font-family: "greycliff-cf", "Open Sans", sans-serif;
  text-align: left;
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-position: outside;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #49494b;
}
.main-footer ul li:last-child {
  margin-bottom: 0;
}
.main-footer ul li .footer-cirlce {
  height: 42px;
  width: 42px;
  border: 1px solid #49494b;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  font-family: "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #49494b;
}
.main-footer ul li .inline {
  display: inline-block;
  position: relative;
  min-width: 60px;
}
.main-footer ul li .mr-4 {
  margin-right: 35px;
}
.main-footer ul li i {
  color: #e85948;
  margin-right: 8px;
}
.main-footer ul li i:hover {
  color: #613f97 !important;
}
.main-footer ul li:hover {
  color: #613f97 !important;
}
.main-footer .d-md-block {
  padding-top: 14px;
}
@media (max-width: 1199px) {
  .main-footer .footer-col:first-child {
    margin-bottom: 57px;
    padding-left: 12px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-footer .footer-col:first-child {
    margin-bottom: 32px;
  }
}
@media (max-width: 1199px) {
  .main-footer .footer-col:not(:first-child) {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .main-footer .footer-col:not(:first-child) {
    padding-bottom: 30px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .main-footer .py-3 {
    display: none;
  }
}
.main-footer .back-to-top-icon-wrapper {
  text-align: center;
}
.main-footer .back-to-top-icon-wrapper .back-to-top-icon {
  width: 60px;
  height: auto;
}

._2x-iframe-container {
  margin: 0px 0px 0px 0px;
  padding: 25px 25px 25px 25px;
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

/*# sourceMappingURL=footer.css.map */
