.fc-orange {
  color: #e85948;
}

header h2 {
  line-height: 1.2 !important;
}

.margin-top-for-nav {
  margin-top: 66px;
}

.mobile-nav .subnav-1-image {
  width: 100%;
  height: auto;
  max-width: 325px;
}

#main-navbar {
  background-color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 16px 0px;
}
#main-navbar .nav-container {
  max-width: 1140px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
#main-navbar .nav-container a {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px !important;
  text-align: left;
  line-height: 1;
}
@media screen and (min-width: 992px) {
  #main-navbar .nav-container a {
    font-size: 15px !important;
  }
}
#main-navbar .nav-container a.subtitle {
  font-size: 12px;
}
#main-navbar .nav-container a.main-btn {
  color: #ffffff !important;
  background-color: #CA1B89 !important;
  border: none !important;
  transition: background-color 100ms ease-in-out;
}
#main-navbar .nav-container a.main-btn:hover {
  background-color: #CA1B89 !important;
  color: #ffffff !important;
}
#main-navbar .nav-container .nav-item {
  display: flex;
  align-items: center;
}
#main-navbar .nav-container .nav-item > a {
  color: #49494b;
  white-space: nowrap;
  font-size: 15px !important;
}
@media screen and (min-width: 992px) {
  #main-navbar .nav-container .nav-item > a {
    padding-inline: 2.5rem;
  }
}
#main-navbar .nav-container .nav-logo {
  height: 30.89px;
  margin-top: 4px;
  width: auto;
}
#main-navbar .nav-container .float-right {
  justify-content: right;
}

@media screen and (max-width: 991px) {
  #main-navbar {
    padding: 13px 0;
  }
}
.nav-item a:hover {
  color: #613f97 !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-light {
  transition: 0.4s;
  background-color: white !important;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
}
.nav-light .dropdown-menu {
  margin-top: 35px !important;
}
.nav-light .dropdown-menu .arrow-up {
  margin-top: -29px;
}

.nav-row-wrapper {
  justify-content: space-between;
}

.nav-link {
  color: #49494b !important;
  display: flex !important;
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}

.nav-link.hidden {
  visibility: hidden;
}

.nav-icon img.hidden {
  visibility: hidden;
}

#main-navbar .nav-container .nav-item.menu-expand {
  display: flex;
  position: relative;
}

#main-navbar .nav-container .nav-item .fa-angle-left {
  position: relative;
  top: 1px;
  right: 7px;
}

#main-navbar .nav-container .nav-item.hidden {
  display: none;
}

#cta-btn-nav.white-hover:hover {
  color: white !important;
}

.nav-arrow {
  margin-left: 8px;
}

#nav-icon-1 {
  margin-right: 5px;
}

#nav-icon-2 {
  margin-right: 12px;
}

.sub-nav-wrapper {
  display: none;
  background-color: #f8f8f8;
  position: absolute;
  top: 74px;
  right: 0;
  left: 0;
  filter: drop-shadow(0 0 0.75rem #bbb);
}
.sub-nav-wrapper-inner {
  background-color: #fff;
  min-width: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  --bs-border-style: solid;
}
.sub-nav-wrapper-inner .left-submenus,
.sub-nav-wrapper-inner .right-submenus {
  margin: 0;
  padding: 1.5rem;
}
.sub-nav-wrapper-inner .left-submenus .subtitle,
.sub-nav-wrapper-inner .right-submenus .subtitle {
  color: #38195b !important;
  font-size: 14px;
}
.sub-nav-wrapper-inner .left-submenus small,
.sub-nav-wrapper-inner .right-submenus small {
  display: block;
  line-height: 20px;
}
.sub-nav-wrapper-inner .left-submenus {
  border-bottom-left-radius: 10px;
}
.sub-nav-wrapper-inner .right-submenus {
  border-bottom-right-radius: 10px;
}
.sub-nav-wrapper-inner .right-submenus .custom-html {
  padding: 1.5rem;
  background-color: #29003F;
  color: #FFF;
  height: 100%;
  border-bottom-right-radius: 10px;
}
.sub-nav-wrapper-inner .right-submenus .custom-html h2 {
  color: #FFF;
  font-size: 25px;
  line-height: 28px;
  text-wrap: balance;
  margin-bottom: 1rem;
}
.sub-nav-wrapper-inner .right-submenus .custom-html p {
  color: #FFF;
  line-height: 20px;
}
.sub-nav-wrapper-inner .right-submenus .custom-html .cta-container a {
  display: inline-block;
  background-color: #CA1B89;
  color: #FFF;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.sub-nav-wrapper-inner .right-submenus .custom-html .cta-container a:hover {
  color: #FFF !important;
  background-color: #CA1B89;
}

.subnav-title {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 20px;
}

.dropdown-content {
  display: none;
}

.subnav-li {
  display: flex;
  flex-direction: row;
  position: relative;
}

.sub-nav-wrapper ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.subnav-link-a:hover * {
  color: #613f97;
}

.subnav-link-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #49494b;
  display: block;
}

.subnav-link-subtitle,
.subnav-link-subtitle:hover {
  color: #49494b !important;
}

.subnav-link-title-heading {
  font-size: 18px;
}

.subnav-link-title a {
  color: #49494b;
}

.subnav-link-title a:hover {
  color: red;
}

.subnav-link-subtitle {
  font-size: 12px;
  font-weight: 200;
}

.subnav-link-title.bold-smaller {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.link-right-subnav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 45px;
}

.link-icon-subnav {
  display: flex;
  width: 25px;
  margin-right: 40px;
  align-items: center;
  pointer-events: none !important;
}

.link-icon-subnav img {
  max-height: 18px;
  max-width: 22px;
  margin: 0 auto;
}

.subnav-3-right-wrapper {
  display: grid;
  grid-template-columns: 50px 260px auto;
}

.subnav-3-right-wrapper-mobile {
  display: grid;
  grid-template-columns: 45% 55%;
}

.line-divider {
  height: 265px;
  width: 2px;
  border-left: 1px solid rgba(73, 73, 75, 0.2);
}

.featured-post-image {
  width: 100%;
  max-width: 260px;
  height: auto;
  border-radius: 6px;
}

.featured-post-text-area {
  margin-left: 16px;
}

.featured-post-text-area::after,
.featured-post-text-area-mobile::after {
  content: url("../images/arrow-right-orange.svg");
}

.featured-post-text-area:hover::after,
.featured-post-text-area-mobile:hover::after {
  content: url("../images/arrow-right-purple.svg");
}

.featured-post-text-area-mobile {
  padding-left: 10px;
  padding-right: 15px;
}

.featured-post-category {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 2px;
}

.featured-post-title {
  color: #e85948;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 13px;
  line-height: 1.2;
  display: block;
}

.featured-post-title:hover {
  color: #613f97 !important;
}

.featured-post-title-mobile {
  line-height: 22px;
  margin-bottom: 5px;
}

.featured-post-paragraph {
  color: #49494b !important;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  max-width: 275px;
  margin-bottom: 12px;
}

.featured-post-paragraph:hover {
  color: #49494b !important;
}

.featured-post-paragraph-mobile {
  margin-bottom: 6px;
}

.sub-nav-container-775 {
  max-width: 775px !important;
}

.sub-nav-container-960 {
  max-width: 960px !important;
}

.sub-nav-container-1075 {
  max-width: 1075px !important;
}

.sub-nav-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
}

.sub-nav-row-3 {
  display: grid;
  grid-template-columns: 1fr 45px 1fr 1fr;
  grid-template-rows: auto;
}

.featured-title {
  margin-left: 50px;
}

.mt-25px {
  margin-top: 25px;
}

.cta-btn {
  margin-right: 0 !important;
}

.learn-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.learn-more-wrapper a {
  color: #e85948;
}

.learn-more-wrapper a:hover {
  color: #613f97;
}

.learn-more-link {
  font-size: 13px;
  margin-right: 15px;
}

.learn-more-link::after {
  content: url("../images/arrow-right-orange.svg");
  position: relative;
  left: 18px;
  top: 1px;
}

.subnav-li::after {
  content: url("../images/arrow-right-orange.svg");
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

#sub-nav-area-3 .subnav-li::after,
#mobile_nav_submenu_3 .subnav-li::after,
#mobile_nav_submenu_4 .subnav-li::after {
  top: 43%;
}

.subnav-li:hover::after {
  content: url("../images/arrow-right-purple.svg");
}

.learn-more-link:hover:after {
  content: url("../images/arrow-right-purple.svg");
  position: relative;
  left: 18px;
  top: 1px;
}

.subnav-paragraph {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 16px;
  padding-right: 65px;
  margin-top: 8px;
  margin-bottom: 10px;
  max-width: 350px;
}

.horizontal-line {
  max-width: 100%;
  border-top: 1px solid rgba(73, 73, 75, 0.2);
  margin-bottom: 20px;
}

.mobile-nav {
  padding-inline: 2rem;
  margin-top: 45px;
  background-color: #f8f8f8;
}
.mobile-nav .left-submenus,
.mobile-nav .right-submenus {
  margin: 0;
}
.mobile-nav .left-submenus .subtitle,
.mobile-nav .right-submenus .subtitle {
  color: #38195b !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.mobile-nav .left-submenus .list-group > a,
.mobile-nav .right-submenus .list-group > a {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #49494b;
  padding-block-end: 0;
}
.mobile-nav .left-submenus small,
.mobile-nav .right-submenus small {
  display: block;
  line-height: 20px;
}
.mobile-nav .left-submenus {
  padding-block-start: 1.5rem;
}
.mobile-nav .right-submenus .custom-html {
  padding-block: 1.5rem;
  background-color: #29003F;
  color: #FFF;
  height: 100%;
  position: relative;
}
.mobile-nav .right-submenus .custom-html::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(-50vw + 50%);
  z-index: -1;
  background-color: #29003F;
}
.mobile-nav .right-submenus .custom-html h2 {
  color: #FFF;
  font-size: 25px;
  line-height: 28px;
  text-wrap: balance;
  margin-bottom: 1rem;
}
.mobile-nav .right-submenus .custom-html p {
  color: #FFF;
  line-height: 20px;
}
.mobile-nav .right-submenus .custom-html .cta-container a {
  display: inline-block;
  background-color: #CA1B89;
  color: #FFF;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.mobile-nav .right-submenus .custom-html .cta-container a:hover {
  color: #FFF !important;
  background-color: #CA1B89;
}

.mobile-nav-wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navbar-toggler {
  background-color: #f8f8f8;
  border-color: transparent !important;
  margin-right: 10px;
}

@media (max-width: 374px) {
  .nav-logo {
    max-width: 95px;
  }
}
@media (min-width: 375px) and (max-width: 576px) {
  .nav-logo {
    max-width: 140px;
  }
}
@media (max-width: 576px) {
  .mobile-cta {
    font-size: 12px !important;
    line-height: 1 !important;
    min-width: unset;
    padding: 11px 12px !important;
  }
}
@media (min-width: 992px) {
  .mobile-cta {
    display: none;
  }
}
.mobile-nav-link {
  max-width: 155px;
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #49494b;
}

.mobile-nav-link-arrow {
  margin-left: auto;
}

body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
  z-index: 10;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.mobile-btn-close-back {
  background: none !important;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}

.mobile-subnav-ul {
  padding-left: 0 !important;
  max-width: 350px;
}

.mobile-subnav-ul .subnav-li {
  margin-bottom: 28px;
}

.mobile-icons-ul {
  padding-left: 0 !important;
  padding-top: 23px !important;
  padding-bottom: 23px !important;
  margin-bottom: 0 !important;
}

.mobile-icons-ul li {
  display: inline;
}

.mobile-icon-left {
  margin-right: 25px;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
  .offcanvas-header {
    display: block;
  }
  .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    height: calc(100% - 45px);
    z-index: 1200;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .mobile-offcanvas.show {
    visibility: visible;
    transform: translateX(0);
  }
  .mobile-offcanvas .container,
  .mobile-offcanvas .container-fluid {
    display: block;
  }
  .subnav-link-title {
    font-size: 13px;
  }
  .subnav-link-title-heading {
    font-size: 18px;
  }
  .subnav-link-subtitle {
    font-size: 11px;
  }
  .subnav-link-title.bold-smaller {
    font-size: 13px;
  }
}
.max-width-350 {
  max-width: 350px;
}

/* End Mobile Navigation */

/*# sourceMappingURL=header.css.map */
