.timber-oldfc {
  --e-global-color-primary: #E85948;
  --e-global-color-secondary: #CB198A;
  --e-global-color-text: #49494B;
  --e-global-color-accent: #613F97;
  --e-global-color-b419c99: #FFFFFF;
  --e-global-color-72c0b1b: #38195B;
  --e-global-typography-primary-font-family: "greycliff-cf";
  --e-global-typography-primary-font-weight: 500;
  --e-global-typography-secondary-font-family: "greycliff-cf";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "greycliff-cf";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "greycliff-cf";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-0fe730f-font-family: "greycliff-cf";
  --e-global-typography-0fe730f-font-weight: bold;
  --e-global-typography-37fd63c-font-family: "greycliff-cf";
  --e-global-typography-37fd63c-font-weight: 200;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  /* ============ mobile view ============ */
  /* End Mobile Navigation */
  /* Individual Post block - Found on Post Page */
  /* Individual Post block */
}
.timber-oldfc *:not(.fa-brands):not(.fa-solid):not(.fab) {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 500;
}
.timber-oldfc h1 {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 40.74px;
  line-height: 45px;
  color: #000000;
}
@media screen and (min-width: 992px) {
  .timber-oldfc h1 {
    line-height: 70px;
  }
}
.timber-oldfc h2 {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #49494b;
}
.timber-oldfc h3 {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-size: 24px;
}
.timber-oldfc h4 {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px !important;
  line-height: 26px;
}
.timber-oldfc p {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #49494b;
}
.timber-oldfc a {
  text-decoration: none !important;
}
.timber-oldfc a:hover {
  text-decoration: none !important;
  color: #613f97 !important;
}
.timber-oldfc textarea:focus,
.timber-oldfc input:focus {
  outline: none !important;
}
.timber-oldfc .text-light {
  color: white;
}
.timber-oldfc .text-primary {
  color: #e85948 !important;
}
.timber-oldfc .main-btn,
.timber-oldfc .search-filter-reset,
.timber-oldfc .fc-main-button a,
.timber-oldfc .content-form input[type=submit] {
  border: #e85948;
  background-color: #e85948 !important;
  min-width: 151px;
  padding-bottom: 16px !important;
  padding-top: 16px !important;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px !important;
  justify-self: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: inline-block;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif !important;
  font-size: 14px !important;
  line-height: 1 !important;
  text-align: center !important;
  color: #ffffff !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  transition: all 1s;
}
.timber-oldfc .main-btn:hover,
.timber-oldfc .search-filter-reset:hover,
.timber-oldfc .fc-main-button a:hover {
  background-color: #613f97 !important;
  color: white !important;
  transition: all 1s;
}
.timber-oldfc .main-link {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: #e85948;
  text-decoration: none !important;
}
.timber-oldfc .main-link i {
  margin-left: 15px;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #e85948;
}
.timber-oldfc .main-link:hover {
  transition: 0.4s;
  color: #e85948;
  text-decoration: underline !important;
}
.timber-oldfc .main-link::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 500;
  content: "\f061";
  color: red;
  margin-left: 10px;
}
.timber-oldfc .main-btn-white {
  border: white;
  background-color: white;
  width: 151px;
  height: 40px;
  border-radius: 4px;
  justify-self: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: inline-block;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  padding-top: 8px;
  text-align: center !important;
  color: #613f97 !important;
  text-decoration: none !important;
}
.timber-oldfc .main-btn-white:hover {
  transition: 0.4s;
  background-color: #613f97 !important;
  border: white 1px solid !important;
  color: white !important;
}
.timber-oldfc .fc-orange {
  color: #e85948;
}
.timber-oldfc header h2 {
  line-height: 1.2 !important;
}
.timber-oldfc .margin-top-for-nav {
  margin-top: 66px;
}
.timber-oldfc .mobile-nav .subnav-1-image {
  width: 100%;
  height: auto;
  max-width: 325px;
}
.timber-oldfc #main-navbar {
  background-color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 16px 0px;
}
.timber-oldfc #main-navbar .nav-container {
  max-width: 1140px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.timber-oldfc #main-navbar .nav-container a {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px !important;
  text-align: left;
  line-height: 1;
}
@media screen and (min-width: 992px) {
  .timber-oldfc #main-navbar .nav-container a {
    font-size: 15px !important;
  }
}
.timber-oldfc #main-navbar .nav-container a.subtitle {
  font-size: 12px;
}
.timber-oldfc #main-navbar .nav-container a.main-btn {
  color: #ffffff !important;
  background-color: #CA1B89 !important;
  border: none !important;
  transition: background-color 100ms ease-in-out;
}
.timber-oldfc #main-navbar .nav-container a.main-btn:hover {
  background-color: #CA1B89 !important;
  color: #ffffff !important;
}
.timber-oldfc #main-navbar .nav-container .nav-item {
  display: flex;
  align-items: center;
}
.timber-oldfc #main-navbar .nav-container .nav-item > a {
  color: #49494b;
  white-space: nowrap;
  font-size: 15px !important;
}
@media screen and (min-width: 992px) {
  .timber-oldfc #main-navbar .nav-container .nav-item > a {
    padding-inline: 2.5rem;
  }
}
.timber-oldfc #main-navbar .nav-container .nav-logo {
  height: 30.89px;
  margin-top: 4px;
  width: auto;
}
.timber-oldfc #main-navbar .nav-container .float-right {
  justify-content: right;
}
@media screen and (max-width: 991px) {
  .timber-oldfc #main-navbar {
    padding: 13px 0;
  }
}
.timber-oldfc .nav-item a:hover {
  color: #613f97 !important;
}
.timber-oldfc .navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.timber-oldfc .nav-light {
  transition: 0.4s;
  background-color: white !important;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
}
.timber-oldfc .nav-light .dropdown-menu {
  margin-top: 35px !important;
}
.timber-oldfc .nav-light .dropdown-menu .arrow-up {
  margin-top: -29px;
}
.timber-oldfc .nav-row-wrapper {
  justify-content: space-between;
}
.timber-oldfc .nav-link {
  color: #49494b !important;
  display: flex !important;
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}
.timber-oldfc .nav-link.hidden {
  visibility: hidden;
}
.timber-oldfc .nav-icon img.hidden {
  visibility: hidden;
}
.timber-oldfc #main-navbar .nav-container .nav-item.menu-expand {
  display: flex;
  position: relative;
}
.timber-oldfc #main-navbar .nav-container .nav-item .fa-angle-left {
  position: relative;
  top: 1px;
  right: 7px;
}
.timber-oldfc #main-navbar .nav-container .nav-item.hidden {
  display: none;
}
.timber-oldfc #cta-btn-nav.white-hover:hover {
  color: white !important;
}
.timber-oldfc .nav-arrow {
  margin-left: 8px;
}
.timber-oldfc #nav-icon-1 {
  margin-right: 5px;
}
.timber-oldfc #nav-icon-2 {
  margin-right: 12px;
}
.timber-oldfc .sub-nav-wrapper {
  display: none;
  background-color: #f8f8f8;
  position: absolute;
  top: 74px;
  right: 0;
  left: 0;
  filter: drop-shadow(0 0 0.75rem #bbb);
}
.timber-oldfc .sub-nav-wrapper-inner {
  background-color: #fff;
  min-width: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  --bs-border-style: solid;
}
.timber-oldfc .sub-nav-wrapper-inner .left-submenus,
.timber-oldfc .sub-nav-wrapper-inner .right-submenus {
  margin: 0;
  padding: 1.5rem;
}
.timber-oldfc .sub-nav-wrapper-inner .left-submenus .subtitle,
.timber-oldfc .sub-nav-wrapper-inner .right-submenus .subtitle {
  color: #38195b !important;
  font-size: 14px;
}
.timber-oldfc .sub-nav-wrapper-inner .left-submenus small,
.timber-oldfc .sub-nav-wrapper-inner .right-submenus small {
  display: block;
  line-height: 20px;
}
.timber-oldfc .sub-nav-wrapper-inner .left-submenus {
  border-bottom-left-radius: 10px;
}
.timber-oldfc .sub-nav-wrapper-inner .right-submenus {
  border-bottom-right-radius: 10px;
}
.timber-oldfc .sub-nav-wrapper-inner .right-submenus .custom-html {
  padding: 1.5rem;
  background-color: #29003F;
  color: #FFF;
  height: 100%;
  border-bottom-right-radius: 10px;
}
.timber-oldfc .sub-nav-wrapper-inner .right-submenus .custom-html h2 {
  color: #FFF;
  font-size: 25px;
  line-height: 28px;
  text-wrap: balance;
  margin-bottom: 1rem;
}
.timber-oldfc .sub-nav-wrapper-inner .right-submenus .custom-html p {
  color: #FFF;
  line-height: 20px;
}
.timber-oldfc .sub-nav-wrapper-inner .right-submenus .custom-html .cta-container a {
  display: inline-block;
  background-color: #CA1B89;
  color: #FFF;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.timber-oldfc .sub-nav-wrapper-inner .right-submenus .custom-html .cta-container a:hover {
  color: #FFF !important;
  background-color: #CA1B89;
}
.timber-oldfc .subnav-title {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 20px;
}
.timber-oldfc .dropdown-content {
  display: none;
}
.timber-oldfc .subnav-li {
  display: flex;
  flex-direction: row;
  position: relative;
}
.timber-oldfc .sub-nav-wrapper ul {
  list-style-type: none;
  padding-left: 0 !important;
}
.timber-oldfc .subnav-link-a:hover * {
  color: #613f97;
}
.timber-oldfc .subnav-link-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #49494b;
  display: block;
}
.timber-oldfc .subnav-link-subtitle,
.timber-oldfc .subnav-link-subtitle:hover {
  color: #49494b !important;
}
.timber-oldfc .subnav-link-title-heading {
  font-size: 18px;
}
.timber-oldfc .subnav-link-title a {
  color: #49494b;
}
.timber-oldfc .subnav-link-title a:hover {
  color: red;
}
.timber-oldfc .subnav-link-subtitle {
  font-size: 12px;
  font-weight: 200;
}
.timber-oldfc .subnav-link-title.bold-smaller {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}
.timber-oldfc .link-right-subnav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 45px;
}
.timber-oldfc .link-icon-subnav {
  display: flex;
  width: 25px;
  margin-right: 40px;
  align-items: center;
  pointer-events: none !important;
}
.timber-oldfc .link-icon-subnav img {
  max-height: 18px;
  max-width: 22px;
  margin: 0 auto;
}
.timber-oldfc .subnav-3-right-wrapper {
  display: grid;
  grid-template-columns: 50px 260px auto;
}
.timber-oldfc .subnav-3-right-wrapper-mobile {
  display: grid;
  grid-template-columns: 45% 55%;
}
.timber-oldfc .line-divider {
  height: 265px;
  width: 2px;
  border-left: 1px solid rgba(73, 73, 75, 0.2);
}
.timber-oldfc .featured-post-image {
  width: 100%;
  max-width: 260px;
  height: auto;
  border-radius: 6px;
}
.timber-oldfc .featured-post-text-area {
  margin-left: 16px;
}
.timber-oldfc .featured-post-text-area::after,
.timber-oldfc .featured-post-text-area-mobile::after {
  content: url("../images/arrow-right-orange.svg");
}
.timber-oldfc .featured-post-text-area:hover::after,
.timber-oldfc .featured-post-text-area-mobile:hover::after {
  content: url("../images/arrow-right-purple.svg");
}
.timber-oldfc .featured-post-text-area-mobile {
  padding-left: 10px;
  padding-right: 15px;
}
.timber-oldfc .featured-post-category {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 2px;
}
.timber-oldfc .featured-post-title {
  color: #e85948;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 13px;
  line-height: 1.2;
  display: block;
}
.timber-oldfc .featured-post-title:hover {
  color: #613f97 !important;
}
.timber-oldfc .featured-post-title-mobile {
  line-height: 22px;
  margin-bottom: 5px;
}
.timber-oldfc .featured-post-paragraph {
  color: #49494b !important;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  max-width: 275px;
  margin-bottom: 12px;
}
.timber-oldfc .featured-post-paragraph:hover {
  color: #49494b !important;
}
.timber-oldfc .featured-post-paragraph-mobile {
  margin-bottom: 6px;
}
.timber-oldfc .sub-nav-container-775 {
  max-width: 775px !important;
}
.timber-oldfc .sub-nav-container-960 {
  max-width: 960px !important;
}
.timber-oldfc .sub-nav-container-1075 {
  max-width: 1075px !important;
}
.timber-oldfc .sub-nav-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
}
.timber-oldfc .sub-nav-row-3 {
  display: grid;
  grid-template-columns: 1fr 45px 1fr 1fr;
  grid-template-rows: auto;
}
.timber-oldfc .featured-title {
  margin-left: 50px;
}
.timber-oldfc .mt-25px {
  margin-top: 25px;
}
.timber-oldfc .cta-btn {
  margin-right: 0 !important;
}
.timber-oldfc .learn-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.timber-oldfc .learn-more-wrapper a {
  color: #e85948;
}
.timber-oldfc .learn-more-wrapper a:hover {
  color: #613f97;
}
.timber-oldfc .learn-more-link {
  font-size: 13px;
  margin-right: 15px;
}
.timber-oldfc .learn-more-link::after {
  content: url("../images/arrow-right-orange.svg");
  position: relative;
  left: 18px;
  top: 1px;
}
.timber-oldfc .subnav-li::after {
  content: url("../images/arrow-right-orange.svg");
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.timber-oldfc #sub-nav-area-3 .subnav-li::after,
.timber-oldfc #mobile_nav_submenu_3 .subnav-li::after,
.timber-oldfc #mobile_nav_submenu_4 .subnav-li::after {
  top: 43%;
}
.timber-oldfc .subnav-li:hover::after {
  content: url("../images/arrow-right-purple.svg");
}
.timber-oldfc .learn-more-link:hover:after {
  content: url("../images/arrow-right-purple.svg");
  position: relative;
  left: 18px;
  top: 1px;
}
.timber-oldfc .subnav-paragraph {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 16px;
  padding-right: 65px;
  margin-top: 8px;
  margin-bottom: 10px;
  max-width: 350px;
}
.timber-oldfc .horizontal-line {
  max-width: 100%;
  border-top: 1px solid rgba(73, 73, 75, 0.2);
  margin-bottom: 20px;
}
.timber-oldfc .mobile-nav {
  padding-inline: 2rem;
  margin-top: 45px;
  background-color: #f8f8f8;
}
.timber-oldfc .mobile-nav .left-submenus,
.timber-oldfc .mobile-nav .right-submenus {
  margin: 0;
}
.timber-oldfc .mobile-nav .left-submenus .subtitle,
.timber-oldfc .mobile-nav .right-submenus .subtitle {
  color: #38195b !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.timber-oldfc .mobile-nav .left-submenus .list-group > a,
.timber-oldfc .mobile-nav .right-submenus .list-group > a {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #49494b;
  padding-block-end: 0;
}
.timber-oldfc .mobile-nav .left-submenus small,
.timber-oldfc .mobile-nav .right-submenus small {
  display: block;
  line-height: 20px;
}
.timber-oldfc .mobile-nav .left-submenus {
  padding-block-start: 1.5rem;
}
.timber-oldfc .mobile-nav .right-submenus .custom-html {
  padding-block: 1.5rem;
  background-color: #29003F;
  color: #FFF;
  height: 100%;
  position: relative;
}
.timber-oldfc .mobile-nav .right-submenus .custom-html::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(-50vw + 50%);
  z-index: -1;
  background-color: #29003F;
}
.timber-oldfc .mobile-nav .right-submenus .custom-html h2 {
  color: #FFF;
  font-size: 25px;
  line-height: 28px;
  text-wrap: balance;
  margin-bottom: 1rem;
}
.timber-oldfc .mobile-nav .right-submenus .custom-html p {
  color: #FFF;
  line-height: 20px;
}
.timber-oldfc .mobile-nav .right-submenus .custom-html .cta-container a {
  display: inline-block;
  background-color: #CA1B89;
  color: #FFF;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.timber-oldfc .mobile-nav .right-submenus .custom-html .cta-container a:hover {
  color: #FFF !important;
  background-color: #CA1B89;
}
.timber-oldfc .mobile-nav-wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.timber-oldfc .navbar-toggler {
  background-color: #f8f8f8;
  border-color: transparent !important;
  margin-right: 10px;
}
@media (max-width: 374px) {
  .timber-oldfc .nav-logo {
    max-width: 95px;
  }
}
@media (min-width: 375px) and (max-width: 576px) {
  .timber-oldfc .nav-logo {
    max-width: 140px;
  }
}
@media (max-width: 576px) {
  .timber-oldfc .mobile-cta {
    font-size: 12px !important;
    line-height: 1 !important;
    min-width: unset;
    padding: 11px 12px !important;
  }
}
@media (min-width: 992px) {
  .timber-oldfc .mobile-cta {
    display: none;
  }
}
.timber-oldfc .mobile-nav-link {
  max-width: 155px;
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #49494b;
}
.timber-oldfc .mobile-nav-link-arrow {
  margin-left: auto;
}
.timber-oldfc body.offcanvas-active {
  overflow: hidden;
}
.timber-oldfc .offcanvas-header {
  display: none;
}
.timber-oldfc .screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}
.timber-oldfc .screen-darken.active {
  z-index: 10;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.timber-oldfc .mobile-btn-close-back {
  background: none !important;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}
.timber-oldfc .mobile-subnav-ul {
  padding-left: 0 !important;
  max-width: 350px;
}
.timber-oldfc .mobile-subnav-ul .subnav-li {
  margin-bottom: 28px;
}
.timber-oldfc .mobile-icons-ul {
  padding-left: 0 !important;
  padding-top: 23px !important;
  padding-bottom: 23px !important;
  margin-bottom: 0 !important;
}
.timber-oldfc .mobile-icons-ul li {
  display: inline;
}
.timber-oldfc .mobile-icon-left {
  margin-right: 25px;
}
@media all and (max-width: 991px) {
  .timber-oldfc .offcanvas-header {
    display: block;
  }
  .timber-oldfc .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    height: calc(100% - 45px);
    z-index: 1200;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .timber-oldfc .mobile-offcanvas.show {
    visibility: visible;
    transform: translateX(0);
  }
  .timber-oldfc .mobile-offcanvas .container,
  .timber-oldfc .mobile-offcanvas .container-fluid {
    display: block;
  }
  .timber-oldfc .subnav-link-title {
    font-size: 13px;
  }
  .timber-oldfc .subnav-link-title-heading {
    font-size: 18px;
  }
  .timber-oldfc .subnav-link-subtitle {
    font-size: 11px;
  }
  .timber-oldfc .subnav-link-title.bold-smaller {
    font-size: 13px;
  }
}
.timber-oldfc .max-width-350 {
  max-width: 350px;
}
@media (min-width: 574px) {
  .timber-oldfc .single-post-pagination {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-content: space-between;
    grid-gap: 10px;
    padding: 0 50px;
  }
}
.timber-oldfc .single-post-pagination a {
  color: #e85948;
  font-weight: 500;
}
.timber-oldfc .divider-line {
  height: 100%;
  border-left: 1px solid rgba(73, 73, 75, 0.2);
}
.timber-oldfc .single-post-pagination {
  position: relative;
}
.timber-oldfc .single-post-pagination .newest-title {
  font-weight: 500;
}
.timber-oldfc .previous-post-link::before {
  content: url("../images/arrow-orange-left.svg");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.timber-oldfc .next-post-link::before {
  content: url("../images/arrow-right-orange.svg");
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .timber-oldfc .recommended-posts-row {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.timber-oldfc .recommended-posts-label {
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}
.timber-oldfc .recommended-posts-title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 28px;
}
.timber-oldfc .post-categories {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-size: 13px;
  color: #49494b;
  display: block;
  margin-top: -4px;
  margin-bottom: 2px;
  margin-top: 0;
}
.timber-oldfc .post-text-wrapper {
  position: relative;
}
.timber-oldfc .post-image-wrapper img {
  max-width: 100%;
  border-radius: 6px;
}
.timber-oldfc .single-post-title {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 5px;
  color: #e85948;
  display: block;
}
.timber-oldfc .single-post-excerpt {
  font-size: 15px;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  line-height: 16px;
  margin-bottom: 0;
}
.timber-oldfc .category-filters {
  order: 1;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
.timber-oldfc .category-results {
  display: grid;
  padding-bottom: 60px;
  grid-gap: 40px;
  order: 2;
}
.timber-oldfc .category-results a,
.timber-oldfc .recommended-posts a {
  color: #e85948;
}
.timber-oldfc .category-results .read-more,
.timber-oldfc .recommended-posts .read-more {
  display: inline;
  color: #e85948;
}
.timber-oldfc .filter-by-title {
  padding-bottom: 12px;
}
.timber-oldfc .results-section-title {
  display: none;
  padding-bottom: 20px;
  margin-top: unset;
}
.timber-oldfc .post-image-wrapper {
  position: relative;
}
.timber-oldfc .post-image-badge {
  position: absolute;
  bottom: 7px;
  left: 7px;
  background-color: #000000;
  color: white;
  border-radius: 6px;
  font-size: 9px;
  border: 1px solid white;
  padding: 4px 6px;
  letter-spacing: 1px;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .timber-oldfc .category-post-list-grid {
    grid-template-columns: 1fr 250px;
  }
  .timber-oldfc .category-results {
    order: 1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
  }
  .timber-oldfc .category-filters {
    order: 2;
  }
  .timber-oldfc .results-section-title {
    display: block;
  }
  .timber-oldfc .post-categories {
    margin-top: 0;
  }
}
@media screen and (min-width: 1088px) {
  .timber-oldfc .category-post-list-grid {
    grid-gap: 20px;
  }
  .timber-oldfc .category-results {
    grid-gap: 40px 30px;
  }
  .timber-oldfc .single-post-wrapper {
    display: grid;
    grid-template-columns: 135px 1fr;
  }
  .timber-oldfc .post-image-wrapper {
    max-height: 140px;
  }
  .timber-oldfc .post-text-wrapper {
    padding-left: 22px;
  }
  .timber-oldfc .post-image {
    width: 135px;
    height: 140px;
    object-fit: cover;
  }
}
.timber-oldfc .recommended-posts-wrapper {
  padding: 0 20px;
}
@media (max-width: 767px) {
  .timber-oldfc .recommended-posts-wrapper {
    padding: 0 20px 28px;
  }
}
@media (max-width: 991px) {
  .timber-oldfc .recommended-posts-row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}
.timber-oldfc .category-post-list-grid {
  grid-gap: 20px;
}
.timber-oldfc .category-results {
  grid-gap: 40px 30px;
}
.timber-oldfc .single-post-wrapper {
  display: grid;
  grid-template-columns: 135px 1fr;
}
.timber-oldfc .post-image-wrapper {
  max-height: 140px;
}
.timber-oldfc .post-text-wrapper {
  padding-left: 22px;
}
.timber-oldfc .post-image {
  width: 135px;
  height: 140px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .timber-oldfc .post-text-wrapper {
    padding-left: 12px;
  }
}
@media (max-width: 767px) {
  .timber-oldfc .single-post-title {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
  .timber-oldfc .single-post-excerpt {
    font-size: 13px;
    line-height: 16px;
  }
}
.timber-oldfc .blog-tag {
  color: #e85948;
}
.timber-oldfc .post-featured-img {
  border-radius: 6px;
}
.timber-oldfc .author-bio {
  /** 
    Responsive styles
  */
}
.timber-oldfc .author-bio .author-info {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
}
.timber-oldfc .author-bio .author-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.timber-oldfc .author-bio .author-info .author-name {
  font-size: 1.5rem !important;
  font-weight: 900;
}
.timber-oldfc .author-bio .author-info .author-title {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.timber-oldfc .author-bio .author-info .author-title li {
  font-style: italic;
  font-weight: 700;
}
.timber-oldfc .author-bio .author-info .author-exp {
  font-weight: 900;
}
.timber-oldfc .author-bio .author-info .author-socials {
  display: flex;
  flex-wrap: nowrap;
}
.timber-oldfc .author-bio .author-info .author-socials a {
  font-size: 1rem;
  color: #000116;
  padding: 14px 17.3px;
}
.timber-oldfc .author-bio .author-info .author-socials a i {
  font-size: 1.5rem;
}
.timber-oldfc .author-bio .author-desc {
  padding-top: 1rem;
}
.timber-oldfc .author-bio .rw-details {
  border: 1px solid #eee;
  box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 1rem;
}
.timber-oldfc .author-bio .author-citation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.timber-oldfc .author-bio .author-citation ul p {
  font-style: italic;
}
.timber-oldfc .author-bio .author-conference ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.timber-oldfc .author-bio .author-conference ul .conf-date {
  font-weight: 900;
  text-decoration: underline;
}
.timber-oldfc .author-bio .author-media ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.timber-oldfc .author-bio .author-media ul .media-outlet {
  font-weight: 900;
  text-decoration: underline;
}
.timber-oldfc .author-bio .author-jobs ul {
  list-style-type: circle;
}
.timber-oldfc .author-bio .author-jobs ul li .job-title p {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
}
.timber-oldfc .author-bio .author-jobs ul li .company p {
  margin: 0;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .timber-oldfc .author-bio .author-info {
    text-align: center;
  }
  .timber-oldfc .author-bio .author-info img {
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 1rem;
  }
  .timber-oldfc .author-bio .author-info .author-socials {
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #resource-hub .horizontal-line-clean {
    margin: 24px 0 !important;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #resource-hub .resource-hub-hero--top {
    padding-top: 1px !important;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #resource-hub .resource-hub-hero--top .row {
    flex-direction: column;
  }
}
.timber-oldfc #resource-hub .resource-hub-hero--top [class^=col] {
  width: auto;
}
@media (max-width: 1199px) {
  .timber-oldfc #resource-hub .resource-hub-hero--top h1 {
    margin-bottom: 12px;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .timber-oldfc #resource-hub .resource-hub-hero--top h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #resource-hub .resource-hub-hero--top .resource-hub-hero--top-paragraph {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #resource-hub .resource-hub-hero--top .resource-hub-hero--top-paragraph {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #resource-hub .resource-hub-hero--bottom .row {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .timber-oldfc #resource-hub .resource-hub-hero--bottom .col-md-7 {
    width: 52%;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #resource-hub .resource-hub-hero--bottom .col-md-7 {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .timber-oldfc #resource-hub .resource-hub-hero--bottom .col-md-5 {
    width: 48%;
  }
}
.timber-oldfc .hub-featured-subtitle {
  font-size: 14px;
  color: #e85948;
}
.timber-oldfc .section-title {
  margin-bottom: unset;
  color: #49494b;
}
.timber-oldfc .hub-featured-section-title {
  color: #49494b;
  padding-bottom: 20px;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.timber-oldfc .hub-featured-post-image {
  padding-right: 35px;
}
@media (max-width: 1199px) {
  .timber-oldfc .hub-featured-post-image {
    padding-right: 0;
  }
}
.timber-oldfc .hub-featured-post-title {
  font-size: 28px;
  margin-block-start: 20px;
  margin-block-end: 20px;
}
@media screen and (min-width: 992px) {
  .timber-oldfc .hub-featured-post-title {
    margin-block-start: 0;
  }
}
.timber-oldfc .hub-featured-post-paragraph {
  font-size: 13px;
  margin-bottom: 25px;
  line-height: 18px;
}
.timber-oldfc .hub-featured-post-link {
  font-size: 13px;
  color: #e85948;
}
.timber-oldfc .hub-featured-post-link .view-link {
  font-size: 13px;
  margin-left: 12px;
}
.timber-oldfc .post-categories {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-size: 13px;
  color: #49494b;
  display: block;
  margin-top: -4px;
  margin-bottom: 2px;
  margin-top: 0;
}
.timber-oldfc .post-text-wrapper {
  position: relative;
}
.timber-oldfc .post-image-wrapper img {
  max-width: 100%;
  border-radius: 6px;
}
.timber-oldfc .single-post-title {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 5px;
  color: #e85948;
  display: block;
}
.timber-oldfc .single-post-excerpt {
  font-size: 15px;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  line-height: 16px;
  margin-bottom: 0;
}
.timber-oldfc .category-filters {
  order: 1;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
.timber-oldfc .category-results {
  display: grid;
  padding-bottom: 60px;
  grid-gap: 40px;
  order: 2;
}
.timber-oldfc .category-results a {
  color: #e85948;
}
.timber-oldfc .category-results .read-more {
  position: relative;
  display: block;
  color: #e85948;
  font-size: 19px;
  margin-top: 10px;
}
.timber-oldfc .filter-by-title {
  padding-bottom: 12px;
}
.timber-oldfc .results-section-title {
  display: none;
  padding-bottom: 20px;
  margin-top: unset;
}
.timber-oldfc .post-image-wrapper {
  position: relative;
}
.timber-oldfc .post-image-badge {
  position: absolute;
  bottom: 7px;
  left: 7px;
  background-color: #000000;
  color: white;
  border-radius: 6px;
  font-size: 9px;
  border: 1px solid white;
  padding: 4px 6px;
  letter-spacing: 1px;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  line-height: 1;
}
.timber-oldfc .sf-field-tag h4 {
  color: #49494b;
  font-size: 11px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.timber-oldfc .searchandfilter ul {
  padding-left: 0;
}
.timber-oldfc .searchandfilter ul li li {
  display: flex;
  align-items: center;
  padding: 0 !important;
}
.timber-oldfc .category-filters input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}
.timber-oldfc .category-filters input[type=checkbox] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #707070;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.timber-oldfc input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #e85948;
}
.timber-oldfc input[type=checkbox]:checked::before {
  transform: scale(1);
}
.timber-oldfc input[type=checkbox]::before {
  /* ...existing styles */
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.timber-oldfc .page-item.active .page-link {
  background-color: #e85948 !important;
  border-color: #e85948 !important;
  color: #FFF;
}
.timber-oldfc .pagination-bootstrap .page-link {
  color: #e85948;
}
.timber-oldfc .pagination .page-link[disabled] {
  pointer-events: none;
}
.timber-oldfc .pagination-bootstrap {
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .timber-oldfc .category-post-list-grid {
    display: grid;
    grid-template-columns: 1fr 250px;
  }
  .timber-oldfc .category-results {
    order: 1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
  }
  .timber-oldfc .category-filters {
    order: 2;
  }
  .timber-oldfc .results-section-title {
    display: block;
  }
  .timber-oldfc .post-categories {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .timber-oldfc .category-post-list-grid {
    grid-gap: 20px;
  }
  .timber-oldfc .category-results {
    grid-gap: 40px 30px;
  }
  .timber-oldfc .single-post-wrapper {
    display: grid;
    grid-template-columns: 135px 1fr;
  }
  .timber-oldfc .post-image-wrapper {
    max-height: 140px;
  }
  .timber-oldfc .post-text-wrapper {
    padding-left: 22px;
  }
  .timber-oldfc .post-image {
    width: 135px;
    height: 140px;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .timber-oldfc .category-post-list-grid {
    grid-gap: 20px;
  }
  .timber-oldfc .category-results {
    grid-gap: 40px 30px;
  }
  .timber-oldfc .single-post-wrapper {
    display: grid;
    grid-template-columns: 135px 1fr;
  }
  .timber-oldfc .post-image-wrapper {
    max-height: 140px;
  }
  .timber-oldfc .post-text-wrapper {
    padding-left: 22px;
  }
  .timber-oldfc .post-image {
    width: 135px;
    height: 140px;
    object-fit: cover;
  }
}
.timber-oldfc #cta-form {
  background: linear-gradient(#e6e6e6, #ffffff);
}
.timber-oldfc #cta-form .content-form {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 992px) {
  .timber-oldfc .cta-form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
.timber-oldfc #cta-form {
  padding: 0 12px;
  background: linear-gradient(#e6e6e6, #ffffff);
}
@media (max-width: 991px) {
  .timber-oldfc #cta-form {
    padding: 0 4px;
  }
}
.timber-oldfc #cta-form h2 {
  font-size: 36px;
}
.timber-oldfc #cta-form .left-area-text {
  padding-right: 160px;
}
@media (max-width: 991px) {
  .timber-oldfc #cta-form .left-area-text {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #cta-form .left-area-text p {
    margin-bottom: 37px;
  }
}
.timber-oldfc #cta-form .content-form input[type=submit] {
  width: 227px;
  padding-bottom: 18px !important;
}
@media (min-width: 1200px) {
  .timber-oldfc #cta-form .cta-form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
@media (max-width: 991px) {
  .timber-oldfc #cta-form .cta-form-wrapper {
    max-width: 560px !important;
  }
}
.timber-oldfc #cta-form .gform_footer {
  text-align: right;
}
@media (max-width: 991px) {
  .timber-oldfc #cta-form .py-5 {
    padding: 28px 0 !important;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #cta-form .py-5 {
    padding: 24px 0 !important;
  }
}
@media (max-width: 991px) {
  .timber-oldfc #cta-form .py-4 {
    padding: 5px 0 !important;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #cta-form .mb-5 {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #cta-form hr {
    display: none;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #post-list-section .category-post-list-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .timber-oldfc #post-list-section .category-post-list-grid .category-results {
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #post-list-section .category-filters {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #post-list-section .category-filters {
    margin-bottom: 12px;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #post-list-section .searchandfilter > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #post-list-section .searchandfilter > ul > li {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #post-list-section .searchandfilter > ul > li.sf-field-search label,
  .timber-oldfc #post-list-section .searchandfilter > ul > li.sf-field-search input {
    width: 90%;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc #post-list-section .searchandfilter > ul > li.sf-field-tag ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 991px) {
  .timber-oldfc #post-list-section .searchandfilter > ul > li.sf-field-tag ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .timber-oldfc #post-list-section .searchandfilter > ul > li.sf-field-tag ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .timber-oldfc #post-list-section .searchandfilter > ul > li.sf-field-tag ul {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc {
    /* The maximum number of items a single column can handle.  If a column has more items than the maximum defined here, some items won't display. */
    /* Round up puts more items in first column if odd total number of items 
    */
  }
  .timber-oldfc .sf-field-category ul {
    position: relative;
    margin: 0 0 50px;
    padding: 0;
    font-size: 16px !important;
  }
  .timber-oldfc .sf-field-category ul li {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    list-style-position: inside;
    line-height: 1.5;
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+2) {
    top: 1.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+3) {
    top: 3em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+4) {
    top: 4.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+5) {
    top: 6em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+6) {
    top: 7.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+7) {
    top: 9em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+8) {
    top: 10.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+9) {
    top: 12em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+10) {
    top: 13.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+11) {
    top: 15em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category ul li:nth-child(n+12) {
    top: 16.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+2):nth-last-child(-n+2) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+3):nth-last-child(-n+3) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+4):nth-last-child(-n+4) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+5):nth-last-child(-n+5) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+6):nth-last-child(-n+6) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+7):nth-last-child(-n+7) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+8):nth-last-child(-n+8) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+9):nth-last-child(-n+9) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+10):nth-last-child(-n+10) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+11):nth-last-child(-n+11) {
    position: static;
    margin-left: 50%;
  }
  .timber-oldfc .sf-field-category > ul li:nth-child(n+12):nth-last-child(-n+12) {
    position: static;
    margin-left: 50%;
  }
}
.timber-oldfc .authors {
  margin-top: 85px;
}
.timber-oldfc .authors .author {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding: 15px 30px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.timber-oldfc .authors .author > div {
  padding-block: 1rem;
}
.timber-oldfc .authors .author img {
  border-radius: 50%;
}
.timber-oldfc .authors .author .socials {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.timber-oldfc .authors .author .socials a {
  font-size: 0.7rem;
  color: #000116;
  padding: 14px 17.3px;
}
.timber-oldfc .authors .author .socials a i {
  font-size: 1.5rem;
}
.timber-oldfc .autho-info-box .author-img-container {
  display: flex;
  justify-content: center;
}
.timber-oldfc .autho-info-box .author-img-container .author-img {
  object-fit: cover;
  border-radius: 50%;
}
.timber-oldfc .autho-info-box .author-title,
.timber-oldfc .autho-info-box .author-desc {
  display: block;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .timber-oldfc .autho-info-box .author-title,
  .timber-oldfc .autho-info-box .author-desc {
    text-align: left;
  }
}
.timber-oldfc .autho-info-box .author-socials {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .timber-oldfc .autho-info-box .author-socials {
    text-align: left;
    justify-content: flex-start;
  }
}
.timber-oldfc .autho-info-box .author-socials a {
  color: #000116;
  margin-right: 1rem;
}
.timber-oldfc .autho-info-box .author-socials a i {
  font-size: 1.2rem;
}
.timber-oldfc .main-footer a {
  color: #49494b;
}
.timber-oldfc .main-footer a:hover {
  color: #613f97;
}
.timber-oldfc .main-footer .gradient-bg {
  padding: 15px 40px;
  margin-bottom: 75px;
  background: linear-gradient(63deg, #cb198a 0%, #613f97 100%);
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .gradient-bg {
    margin-bottom: 42px;
    padding: 39px 20px 48px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .timber-oldfc .main-footer .gradient-bg [class^=col-] {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .timber-oldfc .main-footer .gradient-bg {
    padding: 36px 15px 42px;
  }
}
.timber-oldfc .main-footer .gradient-bg > .row {
  align-items: center;
  padding-block: 1rem;
}
.timber-oldfc .main-footer .gradient-bg h2 {
  color: white;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .timber-oldfc .main-footer .gradient-bg h2 {
    font-size: 28px;
    line-height: 32px;
  }
}
.timber-oldfc .main-footer .gradient-bg p {
  color: white;
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .gradient-bg p {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .timber-oldfc .main-footer .gradient-bg p {
    margin-bottom: 12px;
  }
}
.timber-oldfc .main-footer .gradient-bg .signup-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .gradient-bg .signup-button-wrapper {
    justify-content: center;
  }
}
.timber-oldfc .main-footer .gradient-bg .white-btn {
  background-color: white !important;
  color: #613f97 !important;
}
.timber-oldfc .main-footer .footer-title {
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #49494b;
}
@media screen and (min-width: 1200px) {
  .timber-oldfc .main-footer .address-col {
    padding-right: 45px;
  }
}
.timber-oldfc .main-footer .address-container {
  display: flex !important;
  align-items: flex-start;
}
.timber-oldfc .main-footer .footer-address {
  height: 100%;
}
@media (min-width: 1200px) {
  .timber-oldfc .main-footer .footer-address {
    border-right: 1px solid rgba(208, 208, 208, 0.43);
  }
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .footer-address {
    border-bottom: 1px solid rgba(208, 208, 208, 0.43);
  }
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .footer-address ul {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
  }
}
@media (max-width: 575px) {
  .timber-oldfc .main-footer .footer-address ul {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .footer-address li {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .timber-oldfc .main-footer .footer-address li {
    width: 100%;
  }
}
.timber-oldfc .main-footer ul {
  padding-left: 0px;
}
.timber-oldfc .main-footer ul li {
  display: flex;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  text-align: left;
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-position: outside;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #49494b;
}
.timber-oldfc .main-footer ul li:last-child {
  margin-bottom: 0;
}
.timber-oldfc .main-footer ul li .footer-cirlce {
  height: 42px;
  width: 42px;
  border: 1px solid #49494b;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #49494b;
}
.timber-oldfc .main-footer ul li .inline {
  display: inline-block;
  position: relative;
  min-width: 60px;
}
.timber-oldfc .main-footer ul li .mr-4 {
  margin-right: 35px;
}
.timber-oldfc .main-footer ul li i {
  color: #cb198a;
  margin-right: 8px;
}
.timber-oldfc .main-footer ul li i:hover {
  color: #613f97 !important;
}
.timber-oldfc .main-footer ul li:hover {
  color: #613f97 !important;
}
.timber-oldfc .main-footer .d-md-block {
  padding-top: 14px;
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .footer-col:first-child {
    margin-bottom: 57px;
    padding-left: 12px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .timber-oldfc .main-footer .footer-col:first-child {
    margin-bottom: 32px;
  }
}
@media (max-width: 1199px) {
  .timber-oldfc .main-footer .footer-col:not(:first-child) {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .timber-oldfc .main-footer .footer-col:not(:first-child) {
    padding-bottom: 30px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .timber-oldfc .main-footer .py-3 {
    display: none;
  }
}
.timber-oldfc .main-footer .back-to-top-icon-wrapper {
  text-align: center;
}
.timber-oldfc .main-footer .back-to-top-icon-wrapper .back-to-top-icon {
  width: 60px;
  height: auto;
}
.timber-oldfc ._2x-iframe-container {
  margin: 0px 0px 0px 0px;
  padding: 25px 25px 25px 25px;
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
}
.timber-oldfc a {
  text-decoration: none;
  font-family: Inter, "greycliff-cf", "Open Sans", sans-serif;
}
.timber-oldfc .container-1140 {
  max-width: 1140px;
  margin: 0 auto;
}
.timber-oldfc .horizontal-line-clean {
  max-width: 100%;
  border-top: 1px solid rgba(73, 73, 75, 0.2);
}
.timber-oldfc .post-type-post a {
  color: #e85948;
}

/*# sourceMappingURL=timber-oldfc.css.map */
